.simulator {
	-moz-box-shadow: 0em 0em 5px #666;
	-webkit-box-shadow: 0em 0em 5px #666;
	box-shadow: 0em 0em 3px #666;
	/*border: 1px solid #f2f4f4;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/* for inside an iframe*/
.simulator {
	position: absolute;
	 -moz-box-sizing: border-box;
  	box-sizing: border-box;
  	left: 2px;
  	right: 2px;
  	top: 2px;
  	bottom: 2px;
}
/* this was causing scrollbars to show when iframe was loaded for animation
.simulator .centeredAnimation {
    margin:2px;
}*/
.simulator strong {
	font-weight:bold;
}
.simulator em {
	font-style:italic;
}
.simulator .dataTable .highlight, .simulator h2 .highlight {
	line-height: 1.25em;
}
/* @group focus styles */
.simulator input.simAreaFocus, .simulator .upDown input.simAreaFocus, .simulator .dataTable td.simAreaFocus, .simulator .dataTable th.simAreaFocus {
	border-color: #00aeef;
	background-color: #e0f6ff;
}
.simulator .dropHolder.simAreaFocus select {
	border-color: #00aeef;
}
.simulator button.simAreaFocus {
	border-color: #00aeef !important;
	background-color: #e0f6ff;
}
.singleSelect li.simAreaFocus, .multiSelect li.simAreaFocus {
	border: dotted 1px #ccc;
}
/* @end */


.TDS_PS_L1 input, .TDS_PS_L2 input, .TDS_PS_L3 input, .TDS_PS_L4 input,  
.TDS_PS_L1 .dataTable, .TDS_PS_L2 .dataTable, .TDS_PS_L3 .dataTable, .TDS_PS_L4 .dataTable {
	font-size: .8em;
}

/* @end */

/* @group radio and checkboxes */
.simulator li input[type="checkbox"], .simulator li input[type="radio"] {
	position: absolute;
	left: -9999px;
}
.simulator ul.singleSelect, .simulator ul.multiSelect {
	margin-right: 5px;
}
.simulator .singleSelect li, .simulator .multiSelect li {
	display: block;
	margin-bottom: .2em;
	clear: both;
	border: solid 1px trasnparent;
}
.simulator .singleSelect li:after, .simulator .multiSelect li:after {  
	content: "";  
	display: block;  
	clear: both;  
	visibility: hidden;  
	font-size: 0;  
	height: 0;  
}  
.simulator .listLabel {
	display: block;
	float: left;
	padding-top: 2px;
	margin-left: 30px;
	min-height: 15px;
}
.simulator .singleSelect label, .simulator .multiSelect label {
	/*border: solid 1px transparent;*/
	display: block;
	min-height: 20px;
}
.simulator .singleSelect label:active, .simulator .singleSelect input:active + label {
	/*border: dotted 1px #ccc;*/
	background-position: 2px -148px;
}
.simulator .singleSelect .simAreaFocus label {
	background: url(../Images/radios.png) no-repeat 2px -148px;
}
.TDS_PS_L1 .simulator .singleSelect .simAreaFocus label {
	background-position: 2px -625px;
}
.TDS_PS_L2 .simulator .singleSelect .simAreaFocus label {
	background-position: 2px -1175px;
}
.TDS_PS_L3 .simulator .singleSelect .simAreaFocus label {
	background-position: 2px -1825px;
}
.TDS_PS_L4 .simulator .singleSelect .simAreaFocus label {
	background-position: 2px -2625px;
}
.simulator .multiSelect label:active, .simulator .multiSelect input:active + label {
	/*border: dotted 1px #ccc;*/
	background-position: 4px -149px;
}
.simulator .singleSelect input + label, .simulator .multiSelect input + label  {
	background: url(../Images/radios.png) no-repeat 2px 2px;
	display: block;
}
.simulator .multiSelect input + label  {
	background-position: 4px 0px;
}
.simulator .singleSelect input:checked + label {
	background-position: 2px -298px;
}
.simulator .singleSelect label.inputChecked {
	background-position: 2px -298px;
}
.simulator .multiSelect input:checked + label {
	background-position: 4px -298px;
}
.simulator .multiSelect label.inputChecked {
	background-position: 4px -298px;
}
/* @group widget zooming */
.TDS_PS_L1 .simulator .listLabel {
	margin-left: 40px;
	min-height: 28px;
}
.TDS_PS_L1 .simulator .singleSelect label, .TDS_PS_L1 .simulator .multiSelect label {
	min-height: 28px;
}
.TDS_PS_L1 .simulator .singleSelect label:active, .TDS_PS_L1 .simulator .singleSelect input:active + label {
	background-position: 2px -625px;
}
.TDS_PS_L1 .simulator .multiSelect label:active, .TDS_PS_L1 .simulator .multiSelect input:active + label  {
	background-position: 4px -626px !important;
}
.TDS_PS_L1 .simulator .singleSelect input + label, .TDS_PS_L1 .simulator .multiSelect input + label  {
	background-position: 2px -450px;
}
.TDS_PS_L1 .simulator .multiSelect input + label  {
	background-position: 4px -450px;
}
.TDS_PS_L1 .simulator .singleSelect input:checked + label  {
	background-position: 2px -800px;
}
.TDS_PS_L1 .simulator .singleSelect label.inputChecked  {
	background-position: 2px -800px;
}
.TDS_PS_L1 .simulator .multiSelect input:checked + label {
	background-position: 4px -800px;
}
.TDS_PS_L1 .simulator .multiSelect label.inputChecked {
	background-position: 4px -800px;
}

.TDS_PS_L2 .simulator .listLabel {
	margin-left: 50px;
	min-height: 38px;
}
.TDS_PS_L2 .simulator .singleSelect label, .TDS_PS_L2 .simulator .multiSelect label {
	min-height: 38px;
}
.TDS_PS_L2 .simulator .singleSelect label:active, .TDS_PS_L2 .simulator .singleSelect input:active + label {
	background-position: 2px -1175px;
}
.TDS_PS_L2 .simulator .multiSelect label:active, .TDS_PS_L2 .simulator .multiSelect input:active + label {
	background-position: 4px -1175px !important;
}
.TDS_PS_L2 .simulator .singleSelect input + label, .TDS_PS_L2 .simulator .multiSelect input + label  {
	background-position: 2px -975px;
}
.TDS_PS_L2 .simulator .multiSelect input + label  {
	background-position: 4px -975px;
}
.TDS_PS_L2 .simulator .singleSelect input:checked + label {
	background-position: 2px -1375px;
}
.TDS_PS_L2 .simulator .singleSelect label.inputChecked  {
	background-position: 2px -1375px;
}
.TDS_PS_L2 .simulator .multiSelect input:checked + label {
	background-position: 4px -1374px;
}
.TDS_PS_L2 .simulator .multiSelect label.inputChecked {
	background-position: 4px -1374px;
}

.TDS_PS_L3 .simulator .listLabel {
	margin-left: 65px;
	min-height: 54px;
}
.TDS_PS_L3 .simulator .singleSelect label, .TDS_PS_L3 .simulator .multiSelect label {
	min-height: 54px;
}
.TDS_PS_L3 .simulator .singleSelect label:active, .TDS_PS_L3 .simulator .singleSelect input:active + label {
	background-position: 2px -1825px;
}
.TDS_PS_L3 .simulator .multiSelect label:active, .TDS_PS_L3 .simulator .multiSelect input:active + label {
	background-position: 4px -1825px !important;
}
.TDS_PS_L3 .simulator .singleSelect input + label, .TDS_PS_L3 .simulator .multiSelect input + label  {
	background-position: 2px -1575px;
}
.TDS_PS_L3 .simulator .multiSelect input + label  {
	background-position: 4px -1575px;
}
.TDS_PS_L3 .simulator .singleSelect input:checked + label {
	background-position: 2px -2075px;
}.TDS_PS_L3 .simulator .singleSelect label.inputChecked  {
	background-position: 2px -2075px;
}
.TDS_PS_L3 .simulator .multiSelect input:checked + label {
	background-position: 4px -2074px;
}
.TDS_PS_L3 .simulator .multiSelect label.inputChecked  {
	background-position: 4px -2074px;
}

.TDS_PS_L4 .simulator .listLabel {
	margin-left: 76px;
	min-height: 66px;
}
.TDS_PS_L4 .simulator .singleSelect label, .TDS_PS_L4 .simulator .multiSelect label {
	min-height: 66px;
}
.TDS_PS_L4 .simulator .singleSelect label:active, .TDS_PS_L4 .simulator .singleSelect input:active + label {
	background-position: 2px -2625px;
}
.TDS_PS_L4 .simulator .multiSelect label:active, .TDS_PS_L4 .simulator .multiSelect input:active + label {
	background-position: 4px -2625px !important;
}
.TDS_PS_L4 .simulator .singleSelect input + label, .TDS_PS_L4 .simulator .multiSelect input + label  {
	background-position: 2px -2325px;
}
.TDS_PS_L4 .simulator .multiSelect input + label  {
	background-position: 4px -2324px;
}
.TDS_PS_L4 .simulator .singleSelect input:checked + label {
	background-position: 2px -2925px;
}
.TDS_PS_L4 .simulator .singleSelect label.inputChecked  {
	background-position: 2px -2925px;
}
.TDS_PS_L4 .simulator .multiSelect input:checked + label {
	background-position: 4px -2924px;
}
.TDS_PS_L4 .simulator .multiSelect label.inputChecked  {
	background-position: 4px -2924px;
}
/* @end */


/* with images */

.simulator .singleSelect.withImages li, .simulator .multiSelect.withImages li {
	min-height: 25px;
}
.TDS_PS_L1 .simulator .singleSelect.withImages li, .simulator .multiSelect.withImages li {
	min-height: 38px;
}
.TDS_PS_L2 .simulator .singleSelect.withImages li, .simulator .multiSelect.withImages li {
	min-height: 37px;
}
.TDS_PS_L3 .simulator .singleSelect.withImages li, .simulator .multiSelect.withImages li {
	min-height: 50px;
}
.TDS_PS_L4 .simulator .singleSelect.withImages li, .simulator .multiSelect.withImages li {
	min-height: 60px;
}
.simulator .singleSelect .holderImage, .simulator .multiSelect .holderImage {
	width: 30px;
	height: 25px;
	text-align:center;
   	display:table-cell;
	vertical-align:middle;
	padding-left:25px;
}
.TDS_PS_L1 .simulator .singleSelect .holderImage, .TDS_PS_L1 .simulator .multiSelect .holderImage {
	width: 38px;
	height: 30px;
	padding-left:32px;
}
.TDS_PS_L2 .simulator .singleSelect .holderImage, .TDS_PS_L2 .simulator .multiSelect .holderImage {
	width: 50px;
	height: 37px;
	padding-left:44px;
}
.TDS_PS_L3 .simulator .singleSelect .holderImage, .TDS_PS_L3 .simulator .multiSelect .holderImage {
	width: 61px;
	height: 45px;
	padding-left:60px;
}
.TDS_PS_L4 .simulator .singleSelect .holderImage, .TDS_PS_L4 .simulator .multiSelect .holderImage {
	width: 77px;
	height: 57px;
	padding-left:73px;
}


.simulator .singleSelect .holderImage img, .simulator .multiSelect .holderImage img {
	 vertical-align:middle;
}


.withImages .listLabel {
	padding-top: 5px;
	margin-left: 35px;
	margin-top: -25px;
	padding-left: 25px;
}
.TDS_PS_L1 .withImages .listLabel {
	padding-top: 4px;
	margin-left: 42px;
	margin-top: -30px;
	padding-left: 32px;
}
.TDS_PS_L2 .withImages .listLabel {
	padding-top: 4px;
	margin-left: 55px;
	margin-top: -37px;
	padding-left: 44px;
}
.TDS_PS_L3 .withImages .listLabel {
	padding-top: 4px;
	margin-left: 66px;
	margin-top: -45px;
	padding-left: 60px;
}
.TDS_PS_L4 .withImages .listLabel {
	padding-top: 4px;
	margin-left: 85px;
	margin-top: -57px;
	padding-left: 73px;
}

.simulator .singleSelect.withImages label, .simulator .multiSelect.withImages label {
	min-height: 25px;
}
.TDS_PS_L1 .simulator .singleSelect.withImages label, .TDS_PS_L1 .simulator .multiSelect.withImages label {
	min-height: 30px;
}
.TDS_PS_L2 .simulator .singleSelect.withImages label, .TDS_PS_L2 .simulator .multiSelect.withImages label {
	min-height: 37px;
}
.TDS_PS_L3 .simulator .singleSelect.withImages label, .TDS_PS_L2 .simulator .multiSelect.withImages label {
	min-height: 45px;
}
.TDS_PS_L4 .simulator .singleSelect.withImages label, .TDS_PS_L2 .simulator .multiSelect.withImages label {
	min-height: 60px;
}


.simulator .singleSelect.withImages input + label  {
	/*padding-left: 25px;*/
	min-height: 25px;
	background-position: 2px 4px;
}
.TDS_PS_L1 .simulator .singleSelect.withImages input + label  {
	background-position: 2px -449px;
	min-height: 30px;
	/*padding-left: 32px;*/
}
.TDS_PS_L2 .simulator .singleSelect.withImages input + label  {
	background-position: 2px -973px;
    min-height: 39px;
    /*padding-left: 44px;*/
}
.TDS_PS_L3 .simulator .singleSelect.withImages input + label  {
	background-position: 2px -1575px;
    min-height: 51px;
    /*padding-left: 60px;*/
    padding-top: 4px;
}
.TDS_PS_L4 .simulator .singleSelect.withImages input + label  {
	background-position: 2px -2325px;
    min-height: 64px;
    /*padding-left: 73px;*/
    padding-top: 4px;
}

.simulator .multiSelect.withImages input + label  {
	/*padding-left: 25px;*/
	min-height: 25px;
	background-position: 4px 4px;
}
.TDS_PS_L1 .simulator .multiSelect.withImages input + label  {
	background-position: 4px -449px;
	min-height: 30px;
	/*padding-left: 32px;*/
}
.TDS_PS_L2 .simulator .multiSelect.withImages input + label  {
	background-position: 4px -975px;
    min-height: 37px;
    /*padding-left: 44px;*/
}
.TDS_PS_L3 .simulator .multiSelect.withImages input + label  {
	background-position: 4px -1575px;
    min-height: 51px;
    /*padding-left: 60px;*/
    padding-top: 4px;
}
.TDS_PS_L4 .simulator .multiSelect.withImages input + label  {
	background-position: 4px -2325px;
    min-height: 64px;
    /*padding-left: 73px;*/
    padding-top: 4px;
}

.simulator .singleSelect.withImages input:checked + label, .simulator .singleSelect.withImages label.inputChecked {
	background-position: 2px -295px;
}
.TDS_PS_L1 .simulator .singleSelect.withImages input:checked + label, .TDS_PS_L1 .simulator .singleSelect.withImages label.inputChecked {
	background-position: 2px -799px;
}
.TDS_PS_L2 .simulator .singleSelect.withImages input:checked + label, .TDS_PS_L2 .simulator .singleSelect.withImages label.inputChecked {
	background-position: 2px -1373px;
}
.TDS_PS_L3 .simulator .singleSelect.withImages input:checked + label, .TDS_PS_L3 .simulator .singleSelect.withImages label.inputChecked {
	background-position: 2px -2074px;
}
.TDS_PS_L4 .simulator .singleSelect.withImages input:checked + label, .TDS_PS_L4 .simulator .singleSelect.withImages label.inputChecked {
	background-position: 2px -2924px;
}

.simulator .singleSelect.withImages label:active, .simulator .singleSelect.withImages input:active + label {
	background-position: 2px -145px;
}
.simulator .singleSelect.withImages .simAreaFocus label {
	background: url(../Images/radios.png) no-repeat 2px -145px;
}
.TDS_PS_L1 .simulator .singleSelect.withImages label:active, .TDS_PS_L1 .simulator .singleSelect.withImages input:active + label, 
.TDS_PS_L1 .simulator .singleSelect.withImages .simAreaFocus label {
	background-position: 2px -625px;
}
.TDS_PS_L2 .simulator .singleSelect.withImages label:active, .TDS_PS_L2 .simulator .singleSelect.withImages input:active + label, 
.TDS_PS_L2 .simulator .singleSelect.withImages .simAreaFocus label {
	background-position: 2px -1173px;
}
.TDS_PS_L3 .simulator .singleSelect.withImages label:active, .TDS_PS_L3 .simulator .singleSelect.withImages input:active + label, 
.TDS_PS_L3 .simulator .singleSelect.withImages .simAreaFocus label {
	background-position: 2px -1826px;
}
.TDS_PS_L4 .simulator .singleSelect.withImages label:active, .TDS_PS_L4 .simulator .singleSelect.withImages input:active + label, 
.TDS_PS_L4 .simulator .singleSelect.withImages .simAreaFocus label {
	background-position: 2px -2625px;
}


.simulator .multiSelect.withImages input:checked + label, .simulator .multiSelect.withImages label.inputChecked {
	background-position: 4px -295px;
}
.TDS_PS_L1 .simulator .multiSelect.withImages input:checked + label, .TDS_PS_L1 .simulator .multiSelect.withImages label.inputChecked {
	background-position: 4px -799px;
}
.TDS_PS_L2 .simulator .multiSelect.withImages input:checked + label, .TDS_PS_L2 .simulator .multiSelect.withImages label.inputChecked {
	background-position: 4px -1374px;
}
.TDS_PS_L3 .simulator .multiSelect.withImages input:checked + label, .TDS_PS_L3 .simulator .multiSelect.withImages label.inputChecked {
	background-position: 4px -2075px;
}
.TDS_PS_L4 .simulator .multiSelect.withImages input:checked + label, .TDS_PS_L4 .simulator .multiSelect.withImages label.inputChecked  {
	background-position: 4px -2925px;
}

.simulator .multiSelect.withImages label:active, .simulator .multiSelect.withImages input:active + label {
	background-position: 4px -145px !important;
}
.TDS_PS_L1 .simulator .multiSelect.withImages label:active, .TDS_PS_L1 .simulator .multiSelect.withImages input:active + label {
	background-position: 4px -625px !important;
}
.TDS_PS_L2 .simulator .multiSelect.withImages label:active, .TDS_PS_L2 .simulator .multiSelect.withImages input:active + label {
	background-position: 4px -1174px !important;
}
.TDS_PS_L3 .simulator .multiSelect.withImages label:active, .TDS_PS_L3 .simulator .multiSelect.withImages input:active + label {
	background-position: 4px -1825px !important;
}
.TDS_PS_L4 .simulator .multiSelect.withImages label:active, .TDS_PS_L4 .simulator .multiSelect.withImages input:active + label {
	background-position: 4px -2626px !important;
}

/* styles new checkboxes */
.simulator .multiSelect input[type="checkbox"] + label  {
	background-image: url(../Images/checks.png);
}
.simulator .multiSelect input[type="checkbox"] + label:active  {
	background-position: 4px -149px;
}

/* @end */


/* @group dropdown */ 
.simulator .dropDown:after {  
	content: "";  
	display: block;  
	clear: both;  
	visibility: hidden;  
	font-size: 0;  
	height: 0;  
}
.simulator .dropHolder select {
	background: transparent;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	-moz-border-radius-topleft: .5em;
	-moz-border-radius-topright: 0em;
	-moz-border-radius-bottomright: 0em;
	-moz-border-radius-bottomleft: .5em;
	-webkit-border-radius: .5em 0em 0em .5em;
	border-radius: .5em 0em 0em .5em;
	margin-left: .3em;
	margin-top: .2em;
	padding-left: .2em;
	height: 1.5em;
	font-size: .9em;
}
.simulator .dropHolder select:hover {
	border-color: #3e4a61;
}
.platform_ios .simulator .dropHolder select, .platform_android .simulator .dropHolder select, .browser_chrome .simulator .dropHolder select, .browser_safari .simulator .dropHolder select,.platform_chrome .simulator .dropHolder select{
	background: url(../Images/drop1.png) no-repeat right center !important;
	padding-right: 20px;
	max-width: 95%;
}
.platform_ios .simulator .dropHolder select:hover, .platform_android .simulator .dropHolder select:hover, .browser_chrome .simulator .dropHolder select:hover, .browser_safari .simulator .dropHolder select:hover, .platform_chrome .simulator .dropHolder select:hover {
	background-image: url(../Images/drop2.png) !important;
}
/*.simulator .dropHolder {
	display: block;
	float: left;
	height: 1.3em;
	overflow: hidden;
	-moz-border-radius: .8em;
	-webkit-border-radius: .8em;
	border-radius: .8em;
	border: solid 1px #ccc;
	line-height: 1em;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: .1em;
	padding-right: .2em;
	position: relative;
}
.simulator .dropHolder:hover {
	border-color: #3e4a61;
}
.simulator .dropHolder select {
	background: transparent;
	-webkit-appearance: none;
	border: 1px solid transparent;
	position: ;
	margin-top: .2em;
	margin-left: 5px;
	width: 123%;
}
.simulator .dropArrow {  
	display: block;
	height: 1.3em;
	width: 20px;
	top: 50%;
	right: 0;
	margin-top: -.7em;
	position: absolute;
	background: #fff url(../Images/drop_down.gif) no-repeat 2px center;
	-moz-border-radius-topleft: 0em;
	-moz-border-radius-topright: .8em;
	-moz-border-radius-bottomright: .8em;
	-moz-border-radius-bottomleft: 0em;
	-webkit-border-radius: 0em .8em .8em 0em;
	border-radius: 0em .8em .8em 0em;
	pointer-events:none;
	border: solid 1px #fff; 
}
.simulator .dropHolder:hover .dropArrow {  
	background-position: -83px center;
}  
.TDS_PS_L1 .simulator .dropArrow, .TDS_PS_L2 .simulator .dropArrow, .TDS_PS_L3 .simulator .dropArrow, .TDS_PS_L4 .simulator .dropArrow {
	height: 1.2em;
	-moz-border-radius-topleft: 0em;
	-moz-border-radius-topright: .6em;
	-moz-border-radius-bottomright: .6em;
	-moz-border-radius-bottomleft: 0em;
	-webkit-border-radius: 0em .6em .6em 0em;
	font-size: .9em;
	margin-top: -.65em;

}
.TDS_PS_L3 .simulator .dropArrow, .TDS_PS_L4 .simulator .dropArrow {
	font-size: .7em;
}*/


/* with images 
.simulator .withImages .dropHolder {
	margin-left: 85px;
	margin-top: -37px;
}
.simulator .dropDown.withImages .holderImage {
    display: table-cell;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 80px;
}*/
.simulator .dropDown.withImages .holderImage {
	float: left;
	display: block;
}

/* @group widget zooming */

.TDS_PS_L1 .dropHolder select, .TDS_PS_L2 .dropHolder select, .TDS_PS_L3 .dropHolder select, .TDS_PS_L4 .dropHolder select {
	font-size: .7em;
}
/*.TDS_PS_L1 .simulator .withImages .dropHolder {
	margin-top: -43px;
	margin-left: 85px;
}
.TDS_PS_L2 .simulator .withImages .dropHolder {
	margin-top: -47px;
	margin-left: 86px;
}
.TDS_PS_L3 .simulator .withImages .dropHolder {
	margin-top: -50px;
	margin-left: 91px;
}
.TDS_PS_L4 .simulator .withImages .dropHolder {
	margin-top: -55px;
	margin-left: 101px;
}*/

/* @end */

/* @end */

/* @group incremental thing */
.simulator .incrementalWrapper {
	padding-left: 5px;
}
/*.simulator .incrementalWrapper .holderImage {
	width: 75px;
	height: 100px;
	text-align:center;
   	display:table-cell;
	vertical-align:middle;
}*/
.simulator .incrementalWrapper.withImages {
	margin-bottom: 15px;
}
.simulator .incrementalWrapper .holderImage {
	display:block;
	float: left;
	height: 40px;
	text-align: center;
	margin-right: 5px;
	margin-bottom: -15px;
}
.simulator .incrementalWrapper .holderImage img {
	 vertical-align:middle;
}

.simulator .incrementalWrapper:after {  
	content: "";  
	display: block;  
	clear: both;  
	visibility: hidden;  
	font-size: 0;  
	height: 0;  
}
/*.simulator .withImages .incrementalContainer {
	display: block;
	height: 34px;
	float: left;
	margin-left: 80px;
	margin-top: -60px;
}*/
.simulator .incrementalContainer {
	display: block;
	height: 34px;
	min-width: 90px;
}
.simulator .withImages .incrementalContainer {
	float: left;
	margin-top: 5px;
	margin-bottom: -15px;
}
.simulator .incrementalContainer input, .simulator .incrementalContainer label {
	float: left;
}
.simulator .incrementalContainer input[type=text]
 {
	width: 2em !important;
	height: 1em !important;
	margin-top: 8px;
}
.simulator .incrementalContainer label {
	line-height: 34px;
	margin-left: 5px;
}
.simulator .upDown {
	display: block;
	width: 17px;
	height: 34px;
	float: left;
	margin-left: 5px;
}
.simulator .upDown input {
	display: block;
	float: left;
	border: 1px solid #666;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #000;
	text-decoration: none;
	line-height: 15px;
	padding: 0px;
	margin-bottom: 2px;
	background: #edf1f1 url(../Images/sprites_simulator_next.png) no-repeat center 4px;
	text-indent: -9999px;
	overflow: hidden;
	width: 17px;
	height: 16px;
	margin-top: 0px;
}
.simulator .upDown input:Hover {
	background-color: #fff;
	border-color: #0E4878;
}
.simulator .upDown .goingDown {
	background-position: center -149px;
	margin-bottom: 0px;
}

/* @group widget zooming */
/*.TDS_PS_L2 .simulator .incrementalContainer, .TDS_PS_L3 .simulator .incrementalContainer, .TDS_PS_L4 .simulator .incrementalContainer {
	width: 70%;
}*/
.TDS_PS_L1 .simulator .upDown {
	width: 20px;
	height: 40px;
}

.TDS_PS_L1 .simulator .incrementalContainer {
	min-width: 120px;
	height: 41px;
}
.TDS_PS_L1 .simulator .upDown input {
	width: 20px;
	height: 19px;
	line-height: 18px;
	background-position: center 6px;
}
.TDS_PS_L1 .simulator .upDown .goingDown {
	background-position: center -147px;
}
.TDS_PS_L1 .simulator .incrementalContainer label {
	line-height: 41px;
}
.TDS_PS_L1 .simulator .incrementalWrapper.withImages {
	margin-bottom: 18px;
}
.TDS_PS_L1 .simulator .incrementalWrapper .holderImage, .TDS_PS_L1 .simulator .withImages .incrementalContainer {
	margin-bottom: -3px;
}
.TDS_PS_L2 .simulator .upDown {
	width: 23px;
	height: 47px;
}
.TDS_PS_L2 .simulator .incrementalContainer {
	min-width: 145px;
	height: 48px;
}
.TDS_PS_L2 .simulator .upDown input {
	width: 23px;
	height: 22px;
	line-height: 21px;
	background-position: center -24px;
}
.TDS_PS_L2 .simulator .upDown .goingDown {
	background-position: center -115px;
}
.TDS_PS_L2 .simulator .incrementalContainer label {
	line-height: 47px;
}
.TDS_PS_L2 .simulator .incrementalWrapper.withImages {
	margin-bottom: 0px;
}
.TDS_PS_L2 .simulator .incrementalWrapper .holderImage, .TDS_PS_L2 .simulator .withImages .incrementalContainer {
	margin-bottom: 20px;
}
.TDS_PS_L3 .simulator .upDown {
	width: 27px;
	height: 52px;
}
.TDS_PS_L3 .simulator .incrementalContainer {
	min-width: 185px;
	height: 53px;
}
.TDS_PS_L3 .simulator .upDown input {
	width: 27px;
	height: 26px;
	line-height: 25px;
	background-position: center -52px;
}
.TDS_PS_L3 .simulator .upDown .goingDown {
	background-position: center -81px;
}
.TDS_PS_L3 .simulator .incrementalContainer label {
	line-height: 52px;
}
.TDS_PS_L3 .simulator .incrementalWrapper.withImages {
	margin-bottom: 0px;
}
.TDS_PS_L3 .simulator .incrementalWrapper .holderImage, .TDS_PS_L3 .simulator .withImages .incrementalContainer {
	margin-bottom: 35px;
}
.TDS_PS_L4 .simulator .upDown {
	width: 31px;
	height: 65px;
}
.TDS_PS_L4 .simulator .incrementalContainer {
	min-width: 215px;
	height: 66px;
}
.TDS_PS_L4 .simulator .upDown input {
	width: 31px;
	height: 30px;
	line-height: 29px;
	background-position: center -50px;
}
.TDS_PS_L4 .simulator .upDown .goingDown {
	background-position: center -79px;
}
.TDS_PS_L4 .simulator .incrementalContainer label {
	line-height: 65px;
}
.TDS_PS_L4 .simulator .incrementalWrapper.withImages {
	margin-bottom: 0px;
}
.TDS_PS_L4 .simulator .incrementalWrapper .holderImage, .TDS_PS_L4 .simulator .withImages .incrementalContainer {
	margin-bottom: 48px;
}
/* @end */

/* @end */

/* @group table styling */

.simulator .panelSingle table.dataTable {
	border-left: 1px solid #175283;
	margin-top: 2px;
}
.simulator .dataTable tr:nth-child(1) td {
	border-top: 1px solid #175283;
}
.simulator .dataTable th {
	/*font-weight: bold;*/
	border-top: 1px solid #175283;
	border-right: 1px solid #175283;
	padding: 1px;
	/*white-space: pre-wrap;*/
	font-size: .75em;
	background: url(../Images/lightGrey.png) repeat;
}
.simulator .dataTable td {
	padding: .3em;
	border-bottom: 1px solid #175283;
	border-right: 1px solid #175283;
	font-size: .8em;
}
.simulator .clearRow {
	display: block;
	height: 15px;
	background: url(../Images/sprites_simulator_next.png) no-repeat center -184px;
	text-indent: -9999px;
	overflow: hidden;
	width: 15px;
	margin-left: -.3em;
	margin-right: -.3em;
	border: 8px solid transparent;
}
.simulator .clearRow:hover {
	background-position: center -333px;
}
.TDS_PS_L1 .simulator .clearRow, .TDS_PS_L2 .simulator .clearRow {
	background-position: center -234px;
	width: 19px;
	height: 17px;
	border-width: 6px;
}
.TDS_PS_L1 .simulator .clearRow:hover, .TDS_PS_L2 .simulator .clearRow:hover {
	background-position: center -383px;
}
.TDS_PS_L3 .simulator .clearRow, .TDS_PS_L4 .simulator .clearRow {
	background-position: center -283px;
	width: 24px;
	height: 25px;
	border-width: 3px;
}
.TDS_PS_L3 .simulator .clearRow:hover, .TDS_PS_L4 .simulator .clearRow:hover {
	background-position: center -432px;
}
.simulator .table_controls:after {  
	content: "";  
	display: block;  
	clear: both;  
	visibility: hidden;  
	font-size: 0;  
	height: 0;  
}  
.simulator .table_controls .actionButton {
	float: right;
	font-size: .645em;
	margin-top: .3em;
	margin-bottom: .1em;
}
.platform_android .simulator .table_controls {  
	position: relative;
}  
/* @end */

/* @group button styling */

.simulator .actionButton {
	display: block;
	float: left;
	border: 1px solid #0E4878;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #000;
	text-decoration: none;
	padding: .5em;
	background: transparent;
	margin: .5em;
}
.simulator .actionButton:hover {
	background-color: #0E4878 !important;
	color: #fff;
}

.simulator .actionButton.positive {
	border-color: #04A033;
	color: #04A033;
}
.simulator .actionButton.positive:hover {
	background-color: #04A033 !important;
	color: #fff;
}

.simulator .actionButton.negative{
	border-color: #990000;
	color: #990000;
}
.simulator .actionButton.negative:hover {
	background-color: #990000 !important;
	color: #fff;
}

.simulator .actionButton.disabled{
	background-color: #DBDBDB transparent !important;
	color: #666666 !important;
	cursor:default;
}
.simulator .actionButton.disabled:hover {
	background-color: transparent !important;
	color: #666666 !important;
}
.simulator .actionButton.withImages {
	padding: .2em;
}
.simulator .actionButton .holderImage {
    display: table-cell;
    min-height: 22px;
    text-align: center;
    vertical-align: middle;
    width: 22px;
}
.simulator .actionButton.withImages .holderText {
   float: right;
   min-height: 22px;
   display: block;
   margin-left: 30px;
   margin-top: -22px;
   line-height: 22px;
}
.simulator .actionButton.instructionsOpen {
	float: none;
}

.actionButton.image_Trashcan {
	background: url("../Images/sprites_simulator_next.png") no-repeat scroll 0 -181px transparent;
    padding-left: 20px;
}
.actionButton.image_Trashcan:hover {
	background-position: 0 -924px;
}
.actionButton.image_Trashcan .holderImage  {
	display: none;
}
/* @group widget zooming */

.TDS_PS_L1 .actionButton, .TDS_PS_L2 .actionButton, .TDS_PS_L3 .actionButton, .TDS_PS_L4 .actionButton {
	font-size: .8em;
	margin: .4em;
	padding: .4em;
}
.TDS_PS_L2 .actionButton {
	margin: .3em;
	padding: .3em;
}
.TDS_PS_L3 .actionButton, .TDS_PS_L4 .actionButton {
	margin: .2em;
	padding: .2em;
}


.TDS_PS_L1 .simulator .actionButton .holderImage {
    min-height: 27px;
    width: 27px;
}
.TDS_PS_L1 .simulator .actionButton.withImages .holderText {
   min-height: 27px;
   margin-left: 33px;
   margin-top: -27px;
   line-height: 27px;
}
.TDS_PS_L2 .simulator .actionButton .holderImage {
    min-height: 32px;
    width: 32px;
}
.TDS_PS_L2 .simulator .actionButton.withImages .holderText {
   min-height: 32px;
   margin-left: 37px;
   margin-top: -32px;
   line-height: 32px;
}
.TDS_PS_L3 .simulator .actionButton .holderImage {
    min-height: 37px;
    width: 37px;
}
.TDS_PS_L3 .simulator .actionButton.withImages .holderText {
   min-height: 37px;
   margin-left: 45px;
   margin-top: -37px;
   line-height: 37px;
}
.TDS_PS_L4 .simulator .actionButton .holderImage {
    min-height: 42px;
    width: 42px;
}
.TDS_PS_L4 .simulator .actionButton.withImages .holderText {
   min-height: 42px;
   margin-left: 47px;
   margin-top: -42px;
   line-height: 42px;
}


.TDS_PS_L1 .actionButton.image_Trashcan {
	background-position: 0 -178px;
    padding-left: 20px;
}
.TDS_PS_L1 .actionButton.image_Trashcan:hover {
	background-position: 0 -920px;
}
.TDS_PS_L2 .actionButton.image_Trashcan {
	background-position: 0 -228px;
    padding-left: 24px;
}
.TDS_PS_L2 .actionButton.image_Trashcan:hover {
	background-position: 0 -970px;
}
.TDS_PS_L3 .actionButton.image_Trashcan {
	background-position: 0 -226px;
    padding-left: 24px;
}
.TDS_PS_L3 .actionButton.image_Trashcan:hover {
	background-position: 0 -968px;
}
.TDS_PS_L4 .actionButton.image_Trashcan {
	background-position: 1px -276px;
    padding-left: 27px;
}
.TDS_PS_L4 .actionButton.image_Trashcan:hover {
	background-position: 1px -1018px;
}

/* @end */

/* @end */







/* @group Instructions Window */
.simulator #informationPanel {
	display: none;
}
.simulator .showingSimInstructions #informationPanel {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: url(../Images/lightGrey.png) repeat;
}

.simulator .infoWrapper {
	background-color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0em 0em 5px #666;
	-webkit-box-shadow: 0em 0em 5px #666;
	box-shadow: 0em 0em 5px #666;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
}
.simulator .instructionsTitle {
	padding: 1.2em;
	border-bottom: solid 1px #ccc;
}
.simulator #informationPanel .instructionsTitle h2 {
	text-transform: none;
	line-height: 1.5em;
}
.simulator .instructionsTitle .closeInstructions {
	float: right;
	height: 1.9em;
	width: 1.9em;
	text-indent: -9999px;
	margin-top: -1.9em;
	line-height: 1.9em;
	background: url(../Images/sprites_simulator_next.png) no-repeat center -531px;
	border: solid 1px #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.simulator .instructionsTitle .closeInstructions:hover {
	background-color: #999;
}
.simulator .infoWrapper .holderInfo {
	padding: 1em;
	font-size: 1.2em;
}
.simulator .instructionsOpen {
	border: none;
	text-decoration: underline;
	background: url(../Images/sprites_simulator_next.png) no-repeat right -580px;
	padding-right: 25px;
	font-size: .8em;
}
.simulator .instructionsOpen:hover {
	background-position: right -729px;
}
/* @end */

.SimContainer.simV2 {
	position: relative;
	height: 650px;
}

.simulator .panelSingle {
	overflow: auto;
	position: absolute;
}
.simulator .panelSingle.inputPanel {
	z-index: 1;
}
/* for outside an iframe
.panelSingle {
	position: inherit;
	display: table-cell;
}*/

.simulator .panelSingle table {
	min-width: 80%;
	margin: 5px;
}
/* helps to prevent table from distorting on scroll*/
.platform_android .simulator .panelSingle table {
	position: relative;
}
.simulator .panelSingle h2 {
	font-size: 1em !important;
	text-transform: inherit !important;
	border-top: solid 1px #175283;
	padding: 5px;
	margin-top: 5px;
	clear: both;
}
.simulator .panelSingle h2:first-of-type  {
	border-top: none;
	margin-top: 0px;
}
/* hides more than one break*/
.simulator br + br {
	display: none;
}
.simulator .hrHolder:after, .simulator #hrHolder:after  {
	content: "";  
	display: block;  
	clear: both;  
	visibility: hidden;  
	font-size: 0;  
	height: 0; 
}
.simulator .hrHolder hr, .simulator #hrHolder hr {
	clear: both;
    margin-left: 5px;
    margin-right: 5px;
    height: 1px;
}
.simulator #animationPanel {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.simulator .animationPanel {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#contents div.simulator .animationPanel object {
	display: table-cell !important;
}

.simulator .holderAnimation {
	display: table;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 100%;
}
.simulator .holderAnimation .holderCell {
	display: table-cell;
	text-align: center;
}
.simulator .withFlash .holderAnimation .holderCell {
	vertical-align: middle;
	padding-top: 0px;
}
.simulator.layout_sim2 .panel0 {
       border-bottom: solid 2px #ccc;
}
.simulator.layout_sim2 .panel1 {
       border-right: solid 2px #ccc;
}

.simulator.layout_sim3 .panel0 {
	border-bottom: solid 2px #ccc;
}
.simulator.layout_sim3 .panel1 {
	border-bottom: solid 2px #ccc;
}
.simulator.layout_sim3 #animationPanel {
	padding-top: 2px;
}
.simV2 .simulator.layout_sim3 .panelSingle {
	width: 100%;
}

.simulator.layout_sim4 .panel0 {
	border-right: solid 2px #ccc;
}
.simulator.layout_sim4 .panel2 {
	border-top: solid 2px #ccc;
}
.simV2 .simulator.layout_sim4 .panel2 {
	width: 100%;
}

.simulator.layout_sim5 .panel0 {
	border-right: solid 2px #ccc;
}
.simulator.layout_sim5 .panel1 {
	border-bottom: solid 2px #ccc;
}
.simulator.layout_sim5 .panel2 {
	border-top: solid 2px #ccc;
}

.simulator.layout_sim7 .panel0 {
       border-bottom: solid 2px #ccc;
}
.simulator.layout_sim7 .panel2 {
       border-left: solid 2px #ccc;
}

/* when animation is in a bottom panel, we align it to the top of that panel */
.simulator.layout_sim3 .panel1 .holderAnimation span, 
.simulator.layout_sim3 .panel2 .holderAnimation span, 
.simulator.layout_sim4 .panel2 .holderAnimation span,  
.simulator.layout_sim5 .panel2 .holderAnimation span, 
.simulator.layout_sim6 .panel1 .holderAnimation span, 
.simulator.layout_sim6 .panel6 .holderAnimation span, 
.simulator.layout_sim7 .panel1 .holderAnimation span {
	vertical-align: top;
	display: block;
}

/* @group Slider */

.minValue, .maxValue, .yui-h-slider {
	float: left;
}
.minValue, .maxValue {
	display: block;
	line-height: 27px;
}
.minValue {
	margin-left: 5px;
}
.slider {
	padding-top: .3em;
	padding-bottom: .3em;
}
.slider:after {
	content: "";  
	display: block;  
	clear: both;  
	visibility: hidden;  
	font-size: 0;  
	height: 0; 
}
.simulator .yui-slider-min {
    position:relative;
    left:5px;
}
.simulator .yui-slider-max {
    position:relative;
    left:180px;
}
.simulator .yui-h-slider {
    background:url('../../Libraries/YUI/slider/assets/bg-h.gif') 0 0 no-repeat;
    background-position:5px -10px;
    width:190px;
    padding-bottom:5px;
    border-bottom:solid 2px #ccc;
}
.simulator .yui-slider-thumb {
    left: 0;
}
.slider-label-area span, .slider-label-area input {
	margin-right: .3em;
}
.slider-label-area {
    padding-top:10px;
    padding-bottom:5px;
}
/*.slider-text-area {
    position:absolute;
    left:150px;
}*/
.slider-min-max {
    font-size:75%;
    vertical-align:bottom;
}

/* @end */



/* @group New theme */
.simulator input[type="text"] {
	border: solid 1px #00abf4;
	-webkit-box-shadow: 0em 0em .2em #666;
	-moz-box-shadow: 0em 0em .2em #666;
	box-shadow: 0em 0em .2em #666;
	padding: .2em .3em;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
}
.simulator input[type="text"]:focus {
	border-color: #6dd27f;
}
.simulator .upDown input {
	background-image: url(../Images/sprites_simulator_next.png);
	border: solid 1px #00abf4;
	-webkit-box-shadow: 0em 0em .2em #666;
	-moz-box-shadow: 0em 0em .2em #666;
	box-shadow: 0em 0em .2em #666;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
}
.simulator .upDown input:hover {
	border-color: #39b54a;
}
.simulator .upDown input:focus, 
.simulator .upDown input.simAreaFocus {
	border-color: #39b54a !important;
	border-style: dotted !important;
	background-color: #E0F6FF !important;
}
.simulator .actionButton {
    border: 2px solid #00abf4;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0em 0em .2em #666;
	-moz-box-shadow: 0em 0em .2em #666;
	box-shadow: 0em 0em .2em #666;
}
.simulator .actionButton:hover {
	background-color: #00abf4 !important;
}
.simulator .actionButton.positive {
    border-color: #39b54a;
    color: #39b54a;
}
.simulator .actionButton.positive:hover {
    background-color: #39b54a !important;
}
.simulator .actionButton.negative {
    border-color: #ed1c24;
    color: #ed1c24;
}
.simulator .actionButton.negative:hover {
    background-color: #ed1c24 !important;
}
.actionButton.image_Trashcan, .simulator .clearRow{
	background-image: url(../Images/sprites_simulator_next.png);
}
.actionButton.image_Trashcan {
	background: transparent url(../Images/sprites_simulator_trash.png) no-repeat scroll 0px 8px;
    padding-left: 20px;
}
.TDS_PS_L0 .actionButton.image_Trashcan:hover {
	background-position: 0px -1192px;
}
.TDS_PS_L1 .actionButton.image_Trashcan {
	background-position: 0px -193px;
}
.TDS_PS_L1 .actionButton.image_Trashcan:hover {
	background-position: 0px -1393px;
}
.TDS_PS_L2 .actionButton.image_Trashcan, .TDS_PS_L3 .actionButton.image_Trashcan {
	background-position: 0px -392px;
}
.TDS_PS_L2 .actionButton.image_Trashcan:hover, .TDS_PS_L3 .actionButton.image_Trashcan:hover {
	background-position: 0px -1592px;
}
.TDS_PS_L4 .actionButton.image_Trashcan {
	background-position: 0px -391px;
}
.TDS_PS_L4 .actionButton.image_Trashcan:hover {
	background-position: 0px -1591px;
}


.simulator .dropHolder select {
    border: 2px solid #00abf4;
    -moz-border-radius:  0.8em 0 0 0.8em;
	-webkit-border-radius:  0.8em 0 0 0.8em;
    border-radius: 0.8em 0 0 0.8em;
    -webkit-box-shadow: 0em 0em .2em #666;
	-moz-box-shadow: 0em 0em .2em #666;
	box-shadow: 0em 0em .2em #666;
    height: 1.6em;
    margin-top: 0em;
    max-width: 98%;
}
.TDS_PS_L3 .platform_osx .simulator .dropHolder select, 
.TDS_PS_L4 .platform_osx .simulator .dropHolder select {
	max-width: 94%;
}
.browser_firefox.browserVer_3_6.platform_osx .simulator .dropHolder select{
	padding-left: 0.3em;
	-moz-border-radius:  0.6em 0 0 0.6em;
}
.simulator .dropHolder select:focus, .simulator .dropHolder select:hover{
	border-color: #39b54a;
}
.simulator .yui-h-slider {
    background: url(../Images/slider_back.gif) repeat-x center center !important;
    height: 23px;
    padding-bottom: 0px;
    border-bottom: none;
}
.simulator .yui-h-slider .yui-slider-thumb {
	width: 23px;
	height: 23px;
	background: url(../Images/slider_thumb.png) repeat-x center center;
}

.sliderHorizontal {
	border-bottom: solid 1px #ccc;
	padding-bottom: 1em;
}

.simulator .dataTable th, .simulator .dataTable td {
	border-color: #00abf4;
}

.sim_divider {
	display: block;
	height: 1px;
	background-color: #00abf4;
	float: left;
}
.sim_divider:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0px;
	height: 0px;
}
.sim_divider_right {
	float: right;
}
.sim_divider_center {
	float: none;
	margin: 0px auto;
}
/* @end */

/* hack for iOS 5 */

/* adding styles for opened drop down */
.selectHolder {
	display: block;
	padding-top: .1em;
}
.selectHolder.selectOpened {
	position: relative;
}
.selectHolder.selectOpened select {
	height: inherit;
	position: relative; /* changed to relative to fix bug where keyboard-selected dropDowns would not wrap if needed */
	background-color: #fff;
}
.selectHolder.selectOpened option[focused="focused"] {
       background-color: #eaecec;
}
/* prevent double inputs for android, add correct class here when available */
.textFieldContainer input {
	-webkit-user-modify: read-write-plaintext-only;
}

/* adjustments for no more iframes */
.TDS_PS_L1 .simulator input[type=text], 
.TDS_PS_L2 .simulator input[type=text], 
.TDS_PS_L3 .simulator input[type=text], 
.TDS_PS_L4 .simulator input[type=text] {
    height: inherit;
    width: inherit;
}
/* helps with scrolling of long tables */
.simulator .dataOutputPanel, .layoutColumnLeft {
	-webkit-overflow-scrolling:touch;
}


/* overide opacity hack for inline Window's images */
.platform_windows .simulator .Image {
	filter:alpha(opacity=100) !important;
	-moz-opacity: 1 !important;
	opacity: 1 !important;
}

/* the SVG z-index is buggy on android, so it can display over the tutorial. shoving the entire container offscreen when tutorial is open (which takes up most of screen anyways) */
.showingDialog.platform_android .animationPanel  {
	background-color: #e9e9e9;
}
.showingDialog.platform_android .animationPanel iframe  {
	height: 0px !important;
	width: 0px !important;
	position: absolute;
	left: -9999;
}

.inputpanelrow {
   clear: both;
}

.inputpanelcell {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}