@charset "UTF-8";
/* Montana Swiftcurrent Lake Theme */

/* @group general */
.ot-innerShadow {
	border: solid 2px #0d4373;
}
.ot-shadowBox .instructions {
	border-color: #0F6797;
}
.ot-shadowBox h1, .ot-infoConfirm, #testSelections, #segments.accommodations, #ot-infoConfirm, #summary-segments,
 #quickGuide, #sectionSoundCheck .instructions, #sectionTTSCheck .instructions, #loginError .browserDenied,
 #sectionTestResults .instructions, #sectionTestResults .identity,#testApprovalProgress {
	border-color: #94B6D9;
}
/* @end */

/* @group header and footer */
#tds-ot-header {
	background: linear-gradient(to right, #083b77, #b5d2f9);
	background: -moz-linear-gradient(left, #083b77, #b5d2f9);
	background: -webkit-linear-gradient(left, #083b77, #b5d2f9);
}
#tds-ot-branding {
	background-color: transparent;
}
#ot-topBar {
	background: #083b77;
    border-bottom: 1px solid white;
    color: #ffffff;
    height: 30px;
    padding-right: 5px;
}
#ot-studentInfo {
	background-color: transparent;
	border-right: none;
	float: right;
    margin-right: 1em;
}
.sessionID {
	border-right: none;
}

#tds-ot-branding{
	display: block;
}
#ot-brand1 {
	border-bottom: none;
	background:  url(../images/banner.png) no-repeat top right transparent;
	height: 78px;
}
#ot-logo_spot1 {
	background-position: left center;
    width: 480px;
	display: block;
    float: left;
    height: 78px;
	margin-left: 14px;
}
#ot-logo_spot2 {
	display: none;
}
#ot-brand2{
	background: #083b77;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
#ot-brand2 strong{
	background: url(../../../Images/masterShell/tablet/tablet_sm_white.png) 5px center no-repeat transparent;
	border: none;
	color: #fff;
	margin-left: 10px;
}

#tds-ot-footer span, #tds-ot-footer a {
	color: #164c7e;
}

/* @end */

/* @group action buttons */
.actions .positive, .actions .positive button, .actions .positive input{
	border-color: #0d4373;
	color: #0d4373;
}
.actions .positive:hover, #sectionLogin .actions a:hover,.actions .positive button:hover, .actions .positive input:hover,
.actions .positive button:hover, .actions .positive input:hover, .actions .positive button:active, .actions .positive input:active, .actions .positive button:focus, .actions .positive input:focus {
	background-color: #0d4373 !important;
}
/* @end */

/* @group Section Login */
#sectionLogin .ot-innerShadow,
#sectionLoginProctor .ot-innerShadow {
	background-color: #fff !important;
	background-image: none !important;
	border-color: #004a80;
}
.practiceTest #sectionLogin .ot-shadowBox h1 {

}
.practiceTest #loginForm1, .practiceTest #loginForm2 {
	border-color: #0F6797;
}
.practiceTest .checkHolder {
	background-color: #0F6797;
}
#diagnostics .browserVersion {
	color: #606060;
}
#diagnostics a {
    color: #1A5D8B;
    display: none;
    float: left;
}
#diagnostics a:focus, #diagnostics a:active, #loginLinks a:focus, #loginLinks a:active {
    color: #FFF !important;
}
#loginLinks a {
	color: #0F6797 !important;
}

.browserWrong {
	border: 1px solid #0F6797;
}
.browserDenied {
	border: 1px solid #0F6797;
}
/* @group blurbs */
.blurb {
	background-color: #fff !important;
	background-image: none !important;
	border-color: #004a80;
}
.linkbox, .gridlink {
	border-color: #256498;
	background-color: #c9e1f7;
}
/* @end */

/* @end */

/* @group Section Verify Login */
.practiceTest #verifyGradeSelector {
   	background-color: #DCEBF5;
    border: 1px solid #0F6797;
}
/* @end */

/* @group Section Test Selection */
#sectionTestSelection .tries {
	text-align: center;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #76A9D6;
	border-left-color: #76A9D6;
}
.resumeTest, .newTest {
	background-color: #DCEBF5;
    background-image: url("../images/select.gif");
    border: 1px solid #164C7E;
}
#sectionTestSelection .resumeTest:hover, #sectionTestSelection .newTest:hover {
	background-color: #164C7E;
}
/* @end */



/* @group Section Approval */

#sectionTestApproval .ot-innerShadow {
	background-color: #fff !important;
	background-image: none !important;
}

/* @end */

/* @group Not currently used or unkown */
.proctorMessage {
	border:1px solid #bfd4d7;
}
#scoreMessage {
	background-color:#fff4e2;
	border-color:#013663;
}
.forgotLink a {
	color: #0d4373;
}
body.practiceTest .proctorMessage {
	border: 1px solid #ffd377;
}
.shortcutlink {
	color: #164c7e;
}
.simpleScore {
	color:#164c7e;
}
.scoreMessage {
	background-color: #fff0d8;
}
.soundcheck .choices {
	border-top: solid 1px #fff0d8;
}
/*.gridtraining {
	border-color: #ffa20c;
}
.gridtraining a {
	color: #ffd377;
}*/
/* @end */

/*#btnDiagTTS{
	display:none;
}*/
#sectionDiagnostics .jreVersion, #sectionDiagnostics .flashVersion{
	display: none;
}

/* end */

/* For Multi-Input Session ID */
fieldset.sessionID legend{
	width: 33%;
}
.loginRow{
	overflow: hidden;
}
/* end */


















