.edit-container {
    position:relative;
}
.edit-nav ul {
	background: #efefef url(drop_defualt.png) no-repeat right center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: block;
	height: 25px;
	overflow: hidden;
	border: solid 1px #ccc;
}
.edit-nav .edit-nav-opened {
	overflow: visible;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.edit-nav ul:after {
	content: ""; 
	clear: both; 
	display: block;
}
/*.edit-db-header {
    font-size: 80%;
}*/
.edit-nav ul li {
	list-style: none;
	padding: 0px 25px 0px 10px;
	height: 25px;
    line-height: 25px;
    display: block;
}
.edit-nav .edit-nav-opened li  {
	background-color: #efefef;
	-webkit-box-shadow: 0em 0em .1em #ccc;
	-moz-box-shadow: 0em 0em .1em #ccc;
	box-shadow: 0em 0em .1em #ccc; 
}
.edit-nav .edit-nav-opened li:hover  {
	background-color: #00aeef;
}
.edit-nav-closed .edit-list-selected {
	background: rgb(0, 174, 239) url(drop_active.png) no-repeat right center;
    background: rgba(0, 174, 239, 0.3) url(drop_active.png) no-repeat right center;
}

.editTaskMessage .bd select option {
	background-image: none;
}
/*.edit-nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}
.edit-nav  ul li:hover a {
	color: #fff;
}*/
	
.edit-nav  ul li a {
	display: block; padding: 25px 40px;
	color: #757575; text-decoration: none;
}

.edit-crossout {
    opacity: .5;
    text-decoration: line-through;
}
.edit-newtext, .edit-originaltext {
	background-color: rgb(172, 211, 115);
	background-color: rgba(172, 211, 115, 0.3);
	border-bottom-color: rgb(172, 211, 115);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: rgb(172, 211, 115);
    border-top-style: solid;
    border-top-width: 1px;
    display: inline-block;
    min-height: 1.4em;
    min-width: 2em;
    vertical-align: top;
}

.TDS_CCGreen .edit-newtext, 
.TDS_CCGreen .edit-originaltext, 
.TDS_CCGreen2 .edit-newtext, 
.TDS_CCGreen2 .edit-originaltext {
	background-color: rgba(214,185,87,0.3);
}

.TDS_EDIT_SPAN span {
    -moz-box-sizing: border-box;
  	box-sizing: border-box;
   -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
	padding: 0em .1em;
	margin: 0em .1em;
}

.TDS_EDIT_SPAN .edit-newtext:hover, 
.TDS_EDIT_SPAN .edit-originaltext:hover {
    background-color: rgb(0, 174, 239);
    background-color: rgba(0, 174, 239, 0.3);
    border-color:  rgb(0, 174, 239);
}

.TDS_EDIT_SPAN_HOVER {
    background-color: rgb(0, 174, 239);
    background-color: rgba(0, 174, 239, 0.3);
}
.TDS_EDIT_SPAN_HOVER .edit-newtext, 
.TDS_EDIT_SPAN_HOVER .edit-originaltext,
.TDS_EDIT_SPAN_HOVER .edit-newtext:hover, 
.TDS_EDIT_SPAN_HOVER .edit-originaltext:hover {
	background-color: rgb(0, 174, 239);
	background-color: rgba(0, 174, 239, 0.5);
	border: none;
}
.edit-text .hd, .edit-text .container-close {
	display: none;
}
.edit-text .edit-textarea {
	 border: 1px solid #7a7a7a;
    -moz-border-radius:  .3em;
	-webkit-border-radius:  .3em;
	border-radius: .3em;
	-webkit-box-shadow: inset 0em 0em .1em #666;
	-moz-box-shadow: inset 0em 0em .1em #666;
	box-shadow: inset 0em 0em .1em #666; 
	 -moz-box-sizing: border-box;
  	box-sizing: border-box;
  	-webkit-overflow-scrolling: touch;
  	width: 100% !important;
  	padding: 0.1em 0.1em 0;
  	margin: .5em 0em;
}
.edit-text .edit-textarea:focus {
	 border-color: #00abf4;
    -webkit-box-shadow: 0em 0em .3em #666;
	-moz-box-shadow: 0em 0em .3em #666;
	box-shadow: 0em 0em .3em #666
}
.edit-text .bd {
	font-size: 1em !important;
}
.edit-text .ft, .edit-text .ft .yui-button.yui-push-button {
	padding-left: 0px !important;
	margin-left: 0px !important;
}
.edit-text .ft button {
	-moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in; 
}
.edit-text .yui-module.yui-overlay.yui-panel {
	width: 16em !important;
}

.TDS_PS_L0 .editTaskMessage {
	font-size: 1.4em;
}
.TDS_PS_L1 .edit-text .yui-module.yui-overlay.yui-panel {
	font-size: 1.5em;
}
.TDS_PS_L2 .edit-text .yui-module.yui-overlay.yui-panel {
	width: 14em !important;
	font-size: 1.8em;
}
.TDS_PS_L3 .edit-text .yui-module.yui-overlay.yui-panel {
	width: 11em !important;
	font-size: 2em;
}
.TDS_PS_L4 .edit-text .yui-module.yui-overlay.yui-panel {
	width: 10em !important;
	font-size: 2.3em;
}

.format_et .edit-container, .format_etc .edit-container {
	line-height: 1.4em !important;
}

.TDS_EDIT_SPAN.contextAreaFocus {
	border: none;
}
.TDS_EDIT_SPAN.contextAreaFocus .edit-newtext, 
.TDS_EDIT_SPAN.contextAreaFocus .edit-originaltext {
	border-color: #00aeef;
	background-color: rgba(0, 174, 239, 0.3);
}

.TDS_CCYellowB .TDS_EDIT_SPAN.contextAreaFocus .edit-newtext, 
.TDS_CCYellowB .TDS_EDIT_SPAN.contextAreaFocus .edit-originaltext {
	border-color: #f07b00;
	background-color: rgba(238,228,197,0.3);
}

.editTaskMessage .bd {
	padding-bottom: 0px;
}
.editTaskMessage .ft .button-group {
    padding-left: 10px;
    padding-right: 10px;
}
.touch.platform_android #edit-textarea {
	-webkit-user-modify: read-write-plaintext-only;
}
.platform_android .editTaskMessage {
    -webkit-transform: translateZ(0);
}
.editTaskMessage .bd select {
	max-width: 100%;
	/* for safari*/
	background-color: initial;
}
.platform_ios .editTaskMessage .bd select option {
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
	color: red !important;
}

.hidden-spoken {
	display: inline-block;
	/*visibility: hidden;*/
	height: 0px !important;
	width: 0px !important;
	overflow: hidden !important;
	padding: 0px !important;
	margin: 0px !important;
	position: absolute;
	left: -9999px;
}