@charset "UTF-8";
/* Delaware Rules*/
.bigTable .thePassage h2 {
	text-align: center;
}
/*linux lineheight fix for fractions */
.platform_unix .noColumns .questionCell, .platform_unix .noColumns .questionContainer, 
.platform_linux .noColumns .questionCell, .platform_linux .noColumns .questionContainer {
	line-height: 1.34em;
}
/* hide applet when dialogs are shown */
body.dialog #StudentGrid, body.dialog #StudentGrid {
	visibility: hidden;
}

/* @group Alternate (Green) */
/*moved to accommodations...
.mode_ScoreEntry .bigTable .questionCell h2, 
.mode_ScoreEntry .bigTable .questionContainer h2, 
.mode_ScoreEntry .questionContainer h2, 
.mode_ScoreEntry .questionCell h2 { 
	display: none; 
}*/
/* @end */