@charset "UTF-8";
/* Data Entry */
/* Delware's logos */

/* @group Header Stuff */
#ot-logo_spot1 {
	background-image:url(../images/logo_delaware_large.gif);
	width: 350px;
}
.preloader .logo_small {
	background-image: url(../images/logo_medium.gif);
}

/* @end */

/* @group sectionLogin tweaks */

.loginForm label {
	min-width: 9em;
}
#sectionLogin .actions {
    padding-right: 14%;
}  
.goPractice {
	display: none;
}
.loginForm input {
	max-width: 400px !important;
}
.TDS_PS_L3 .loginForm label, .TDS_PS_L4 .loginForm label {
    float: none;
    margin-bottom: 10px;
    text-align: left;
    max-width: inherit;
    width: inherit;
}
.TDS_PS_L3 .loginForm input, .TDS_PS_L4 .loginForm input {
    float: none;
    width: 80%;
    margin-bottom: 0em;
}
/* @end */

#verifyTestForm {
    background-color: #DCEBF5;
    border-bottom: 1px solid #0F6797;
    border-top: 1px solid #0F6797;
    display: inherit;
    margin-left: -0.6em;
    margin-right: -.6em;
    padding: 0 0 0 0.5em;
}

/* @group sectionTestSelection tweaks */

#sectionTestSelection table tr th:first-child {  
	white-space: inherit;
}
.resumeTest, .newTest {
	width: inherit;
	padding-right: 35px;
}

/* @end */

#sectionTestResults .ptShow, #sectionTestResults.scoreUnavailableInPT .ptShow, .practiceTest #sectionTestResults .ptShow {
	display: none !important;
}

.preloader .logo_small {
	background-image: url(../images/logo_medium.gif);
}



.practiceTest .singleUser .loginForm1 {
	border: none;
}
.practiceTest .singleUser .ot-shadowBox {
	float: none !important;
}
.practiceTest .singleUser .ot-shadowBox h2 {
	background-image: none !important;
}
.practiceTest #ot-brand2 strong {
	background-image: none !important;
	padding-right: 5px;
}

.actions input {
	border: none;
    display: block;
    margin: 0px;
    background-color: transparent;
    cursor: pointer;
     color: #000000;
    font-size: 93%;
    /*line-height: 2;*/
    min-height: 2em;
    padding: 0px 1em;
}
.actions input:hover {
	background-color: #0E4878 !important;
	color: #fff;
}
.TDS_PS_L1 .actions input, .TDS_PS_L2 .actions input, .TDS_PS_L3 .actions input{
	max-width: 250px;
	line-height: 1em;
}
.TDS_PS_L4 .actions input{
	max-width: 260px;
}
.TDS_PS_L3 .actions input{
	max-width: 240px;
	line-height: 1em;
}
.actions .positive input {
	color: #0d4373;
}
.actions .positive input:hover {
	background-color: #0d4373 !important;
	color: #fff;
}
#loginLinks {
	display: block;
}
.practiceTest #loginLinks {
	display: none;
}


.NotForScoreEntry {
	display: none;
}
.ForScoreEntry {
	display: inline;
}