@charset "UTF-8";
/* CSS Document */
html, body, table, form, div, .wrapper, .helpContent {
	overflow: visible !important;
	position:static !important;
}
#navigation {
	display: none;
}
#helpContent {
	padding: 0px;
	width: 95%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border: none;
}
td {
	padding: 3pt;
	border: 1px solid #DBDBDB;
}
th {
	font-size: 14pt;
	font-weight: bold;
	border: 1px solid #666666;
	padding: 4pt;
}
caption {
	padding: 5pt;
	font-size: 18pt;
	text-align: left;
}
.toolleft {
	text-align: right;
	vertical-align:top;
}
.leftColumn {
	text-align: center;
	line-height: 29px;
}
.leftColumn img, .centerColumn img {
	vertical-align:middle;
}
.centerColumn {
	text-align: center;
}
.horizontal {
	display: block;
	height: 1px;
	margin-top: 10pt;
	margin-bottom: 10pt;
	border-bottom-width: 2px;
	border-bottom-style: double;
	border-bottom-color: #999999;
}
