.TDS_PS_L1 { 
	font-size: 1.2em; 
}
.TDS_PS_L2 { 
	font-size: 1.5em; 
}
.TDS_PS_L3 { 
	font-size: 2.2em; 
}
.TDS_PS_L4 { 
	font-size: 2.9em; 
}
blockquote {
	margin-bottom: 0px;
	margin-top: 0px;
}
.spellcheck-word { 
    background: yellow;    
}
.platform_unix .spellcheck-word, .platform_linux .spellcheck-word {
	line-height: 1.5em;
}