<?xml version="1.0" encoding="utf-8" ?>

<environments>
  <!-- NOTE: all elements in "all" will be part of all environments. You could overwrite elements in "all" by put into specific enviroment.-->
  <all>
    <CLSServerPublicKey>
      <![CDATA[<RSAKeyValue><Modulus>ks/NNz5fBNfO7HpVEKrInT/T5/WLEohLYHSCpTcLq4qHEy/VQW/zPW4eRb+INzsCXKmgPJMBozovNXmmQgv0BP9UPUG2cdM9RGBlwVgZuW4fll/3Yd7TtvYxSPzhKy1V+JwzlVDx5mfKscFRx92Al98SUXXB1vRgUSLndcvsGVc=</Modulus><Exponent>AQAB</Exponent></RSAKeyValue>]]>
    </CLSServerPublicKey>
    <CLSClientPrivateKey>
      <![CDATA[<RSAKeyValue><Modulus>qvFvCc7dSbAXwMTHg/cHuG2doVEpOeYqCr/7Kpr4i05Eg26hho2KR1ACsz4mf8IlhK1iWZSV5ZNi2pieRNGN9rpBSwfNJigGA1a/qm4vt92uGFzc4vVw6gntJ91d4LdbaRrB7jlIdK34PmQECdkuG19L2uBDgcf6hTO3GADCnjM=</Modulus><Exponent>AQAB</Exponent><P>18x6c6hBExeTnJeQPhNqc86jY7nYTclQHEEPNQyWpotC/ZZM22anpbbuVafR0r/Zm+oNh89K2UhR8wZaoK/ubw==</P><Q>ysnF9G+2DEd+PwFHVjZAbgr3yq1eVQbPADmD0cG4Sbqv39R4bMqZUu6ADPopzY1K3hXZg/R7X8XYdzPyT9DufQ==</Q><DP>nf55UKBJNJ84VZep5aj1cWBCw8rXEOxpGKaRabeTvM+M9njKQIACEhPCnzfFKVWJDtvnmB0uobKPPSzTwX3NRQ==</DP><DQ>uDnKPqBmEI26oV52AlpS+iW4q0YJFtGSqK+Xk62b0E9ri7qolJ0R4YeOiTuTUovz4gKTkw8+Lem9F733eo9iuQ==</DQ><InverseQ>oSFxvEorWiONc6336s9AYZ2V+uu87WyaBMmVl0gBucXpV4nkTvRPv32pCLTOudbyLhIqOKBRvjfKsb4PPwAN7A==</InverseQ><D>DmHl38Nh5vND7FoiFz5PjfrbClmTyGVPIDxq23jSdJYPOaezO2jpO3rF32LZRmKFWZZk8fiIbBpsdMvmdQ/Ui8yD/Y7WZbCqqyKbb54ZtvnxNN8V03vYP3qe61rqFW/UpHAgxzcRpq4Y25tiLqQmeV9tdoRogtVRmYneUA98GNE=</D></RSAKeyValue>]]>
    </CLSClientPrivateKey>
    <CLSSymmetric_Client_Key><![CDATA[ACE5B691254A55B4C47FE53EA1959F9C]]></CLSSymmetric_Client_Key>

    <!--WebService Token for verification-->
    <WebServiceToken><![CDATA[F56D89593B24C0CD8E8E411DE8B02155]]></WebServiceToken>
    <CLSServer_URL><![CDATA[https://cls.astprojects.org/DeDev/Login.aspx]]></CLSServer_URL>
    <!-- <CLSServer_SOAP_URL><![CDATA[https://cls.astprojects.org/DeDev/WebService/CLSProvider.asmx]]></CLSServer_SOAP_URL>  -->
    <CLSServer_SOAP_URL><![CDATA[https://cls.astprojects.org/DeDev/WebService/CLSProvider.asmx]]></CLSServer_SOAP_URL> 
    <Portal_URL>http://de.portal.airast.org/</Portal_URL>
    <ForgottenPasswordURL>#</ForgottenPasswordURL>
    <CLSCookieTimeOut>60</CLSCookieTimeOut>
    <CLSIsSSL>false</CLSIsSSL>
    <Timeout>20</Timeout>
    <Local_Domains>testadmin|localhost:3300|localhost|tds.airws.org|de.tds.airast.org</Local_Domains>
    <!-- RefreshValues: options|display options|default value -->
    <RefreshValues>60000,120000,300000|1 minute,2 minutes,5 minutes|60000</RefreshValues>
    <!-- time zone offset from EST without DaylightSavingTime-->
    <TimeZoneOffset>0</TimeZoneOffset>

    <!-- blackbox URL to serve print requests-->
    <RenderUrl>https://tds.airws.org/blackbox/PrintShell.aspx</RenderUrl>
    <!--X secs to wait for the printer before close the window-->
    <WaitForPrinter>60</WaitForPrinter>
    <AccessDeniedURL>Block.aspx</AccessDeniedURL>
  </all>

  <local>
    <CLSServer_URL><![CDATA[https://cls.astprojects.org/DeDev/Login.aspx]]></CLSServer_URL>
    <!-- <CLSServer_SOAP_URL><![CDATA[https://cls.astprojects.org/DeDev/WebService/CLSProvider.asmx]]></CLSServer_SOAP_URL>	-->
    <CLSServer_SOAP_URL><![CDATA[https://cls.astprojects.org/DeDev/WebService/CLSProvider.asmx]]></CLSServer_SOAP_URL> 
    <CLSClient_Key><![CDATA[21]]></CLSClient_Key>
    <CLSClient_ID><![CDATA[LocalDealt]]></CLSClient_ID>
    <ForgottenPasswordURL>#</ForgottenPasswordURL>
    <!-- blackbox URL to serve print requests-->
    <RenderUrl>http://localhost/blackbox/printshell.aspx</RenderUrl>
  </local>
  <dev>
    <CLSServer_URL><![CDATA[https://cls.astprojects.org/DeDev/Login.aspx]]></CLSServer_URL>
    <CLSServer_SOAP_URL><![CDATA[https://cls.astprojects.org/DeDev/WebService/CLSProvider.asmx]]></CLSServer_SOAP_URL>
    <CLSClient_Key>22</CLSClient_Key>
    <CLSClient_ID>DEAlt</CLSClient_ID>
    <ForgottenPasswordURL>#</ForgottenPasswordURL>
  </dev>
  <prod>
    <CLSClient_Key>1008</CLSClient_Key>
    <CLSClient_ID>DEAlt</CLSClient_ID>
    <CLSIsSSL>true</CLSIsSSL>
    <CLSServer_URL><![CDATA[https://de.cls.airast.org/Login.aspx]]></CLSServer_URL>
    <CLSServer_SOAP_URL><![CDATA[https://de.cls.airast.org/WebService/CLSProvider.asmx]]></CLSServer_SOAP_URL>
    <Portal_URL>http://de.portal.airast.org/</Portal_URL>
    <CLSSymmetric_Client_Key><![CDATA[C47FE53EA1959F9CACE5B691254A55B4]]></CLSSymmetric_Client_Key>
  </prod>
  <prodPT>
    <CLSClientPrivateKey>
      <![CDATA[<RSAKeyValue><Modulus>xz2JYF7RdXiWZ8xVQF/wj7FfILhSXzyc36FSb5r6rFMEWBIYd9YKJ/kJbeL76J9bgZ9jMD5PLAIAS+xmKTp6b2rzHKUlJJZP0HVA+F8MXHC13nI7e5ZVCJgv1LqkwV3XYgcetvF2XlYTNTriT64gCklGctokfDYgYYydbKs7Vr0=</Modulus><Exponent>AQAB</Exponent><P>+FYKNx1mMD+iX6aCzeq/dhgxr+V22/kwoigEnM3LnG2WPbGCoeKMkDDlgt+lOO92aXE5m3mj2QbjFL+NX3FkJw==</P><Q>zWOerFd3uTgs3ReBgdxlMcLjhJLmhQqg5p2Tm21ZVQY3fy564MwxVX+qEBaKFheh+i1EzBFNjgaMXAb5jskIew==</Q><DP>WNPd340CimuYlwImc6VuSr2ouDQp6dEelkIeNEBgflmsjfC6u1Ef2kvDLKb2oID3KAw6AOTnuK9/9mH2HZefrQ==</DP><DQ>kkIHgziCNC5xnDuZ6KzWjvn2ZLjrWQA5lh/ONhdHTwmvSW0C6cPeucDAjNZQHO1VVj8YR61mqeW12+7HlctIsw==</DQ><InverseQ>9sNr/lcJQYguBrPXMedXylRB6tea9hLhdOpnhYPAraw8xKvvto0Qw+/T5BkXZqX0IzcDM0vfw6o8TSt3CUTEvA==</InverseQ><D>tlivfi/Ja8WtgdoUvBISTLB866lGWjtTJ6ixlcs1WLmx5BjLpAGU0fiulI+FFeWjDgMd+G1OcGx0cQguh9Upb2gkKLk/568REizyTQQcyW1eL4gDJ4aMiePlyvNgTPU2PeWlenjU4xV4czw4c3gVkG4rRSINPGlAYazxBNnyGFE=</D></RSAKeyValue>]]>
    </CLSClientPrivateKey>
    <CLSSymmetric_Client_Key>E8E19E97FEF7CB554F01086B71FEB44B</CLSSymmetric_Client_Key>
    <CLSClient_Key>1004</CLSClient_Key>
    <CLSClient_ID>TDS_TestAdminPT</CLSClient_ID>
    <CLSIsSSL>true</CLSIsSSL>

    <!-- blackbox URL to serve print requests-->
    <RenderUrl>https://dept.tds.airast.org/blackbox/PrintShell.aspx</RenderUrl>
  </prodPT>
</environments>
