@charset "UTF-8";
@import url(../../../Themes/moose/css/masterShell.css);

/* Idaho's logo */
#ot-logo_spot1 {
    background-image:  url(../images/logo.png);
}

.languages {
	display: none;
}
.loginForm label {
   width: 33%;
   max-width: inherit;
   min-width: inherit;
}
.TDS_PS_L3 .loginForm label, .TDS_PS_L4 .loginForm label{
   width: 35%;
}
#quickQuide {
	border: solid 1px #ccc;
}
#sectionTestApproval h2 {
    font-size: 2.35em;
}

