.format_WER textarea {
	height: 47em !important;
}

/* styles for IAT, WA wants less of an initial indent between indent levels */
.qti-content ol.iat-indent-1,
.qti-content ul.iat-indent-1 {
	padding: 0 0 0 1.5em;
}
.qti-content ol.iat-indent-2,
.qti-content ul.iat-indent-2 {
	padding: 0 0 0 2em;
}
.qti-content ol.iat-indent-3,
.qti-content ul.iat-indent-3 {
	padding: 0 0 0 2.5em;
}
.qti-content ol.iat-indent-4,
.qti-content ul.iat-indent-4 {
	padding: 0 0 0 3em;
}

/* all unordered lists should have discs for bullets */
.qti-content ul {
	list-style-type: disc;
}

.thePassage .qti-content ol,
.thePassage .qti-content ul {
	line-height: 1.2em;
}


