@charset "UTF-8";

/* Ohio's logos */
#ot-logo_spot1 {
    background-image:  url(../images/logo_ohio.png);
}
.browser_ie.browserVer_6 #ot-logo_spot1{
	background: url(../images/logo_ohio.gif) no-repeat transparent;
}
.languages {
	display: none;
}
.loginForm label {
   width: 33%;
   max-width: inherit;
   min-width: inherit;
}
.TDS_PS_L3 .loginForm label, .TDS_PS_L4 .loginForm label{
   width: 35%;
}
#quickGuide {
	-webkit-overflow-scrolling:touch;
}
#sectionTestApproval h2 {
    font-size: 2.35em;
}

/* temp hide elements */
/*#btnDiagTTS {
	display: none !important;
}*/

/* AND THEY ALL GO BACK ON BECAUESE PILOT!*/
/* remove Pilot test branding*/
/*#ot-brand2 {
    background-image: none;
}*/

/*temp hide opp# 
#testSelections .testSelection p {
	display: none;
}

.mode_ScoreEntry #verifySessionID, .mode_ResponseEntry #verifySessionID  {
	display: none;
}*/

/* prevents Ohio's single panel help guide from poking through*/
.yui-overlay-hidden .tool-helpguide iframe {
	height: 0;
	width: 0;
}

/* Hide Tricycle for Ohio */
.practiceTest #ot-brand2 strong, .practiceTest #sections{
	background-image: none;
}
.practiceTest #ot-brand2 strong{
	padding-left: 20px;
}


/*ELPA Checkbox hidden?*/
#btnDiagELPA {
  	display: block;
}