/* CSS File */
@charset "UTF-8";
@import url(../../../Themes/tree/css/masterShell.css);

/* Utah Logos */
#ot-brand1{
	background-color: #546152;
	height: 105px;
}
#ot-logo_spot1{
	background: url("../images/sage-logo.png") no-repeat left bottom;
	width: 230px;
	height: 105px;
}
.ie6 #ot-logo_spot1{
	background: url("../images/sage-logo.gif") no-repeat left bottom;
}
#ot-logo_spot2{
	background: none;
}