@charset "UTF-8";
@import url(../../../Themes/swiftcurrent/css/masterShell.css);


#ot-logo_spot1 {
    background-image:  url(../images/logo.png);
}

.languages {
	display: none;
}
.loginForm label {
   width: 33%;
   max-width: inherit;
   min-width: inherit;
}
.TDS_PS_L3 .loginForm label, .TDS_PS_L4 .loginForm label{
   width: 35%;
}
#sectionTestApproval h2 {
    font-size: 2.35em;
}


/* Hiding trike in SBAC */
/*
.practiceTest #ot-brand2 strong, .practiceTest #sections{
	background: transparent;
}
.practiceTest #ot-brand2 strong{
	padding-left: 10px;
}
.goPractice{
	background-image: url(../../../Images/goPractice-blank.png);
	background-position: 100% -4px;
}*/