@charset "UTF-8";
/*Lighthouse Theme */

/* @group general */
.ot-innerShadow {
	border: solid 2px #0d4373;
}
.ot-shadowBox .instructions {
	border-color: #0F6797;
}
.ot-shadowBox h1 {
	border-color: #94B6D9;
}
/* @end */

/* @group header and footer */
#tds-ot-branding {
	background-color: #bad8ee;
}
#ot-topBar {
	background-color: #0F6797;
    color: #FFFFFF;
}
#ot-studentInfo {
	background-color: #0f6797;
	border-right: none;
}
.sessionID {
	border-right: none;
}
.ot-smallButtons a {
	background-color: #DBEDFB;
    color: #000000;
    display: block;
    float: right;
    line-height: 1em;
    margin-left: 5px;
    margin-top: 4px;
    padding: 1px 5px;
    text-decoration: none;
    text-transform: uppercase;
    /*border: solid 1px #77aadf;*/
    -moz-border-radius: 3px;
	/*border-radius: 3px; Removed 2014 - for new icons*/
}
.ot-smallButtons a:hover {
	background-color: #ffa20c;
}
#ot-brand1 {
	border-bottom: none;
	background: url(../images/lighthouse_top.gif) no-repeat right bottom;
	height: 63px;
}
#ot-logo_spot1 {
	background-image: url(../images/logo_default.gif);
	width: 340px;
	margin-left: 22px;
}
#ot-logo_spot2 {
	display: none;
}
#ot-brand2 {
	border-bottom-color: #4d83c3;
	background: url(../images/lighthouse_bottom.gif) no-repeat right;
	height: 28px;
}
#ot-brand2 strong {
	border-left: none;
	float: left;
	color: #fff;
	background: url(../../../Images/masterShell/tablet/tablet_sm_white.png) no-repeat #3983ac 5px center;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 45px;
	line-height: 45px;
	margin-top: 29px;
}
.practiceTest #ot-brand2 strong {
	/*background-image: url(../images/bike/bikeTop.gif);
	background-color: #3983ac;
	border-right: none;
	padding-right: 50px;*/
	float: none;
	margin: 0;
	padding: 0 0 0 100px;
}
#tds-ot-footer span, #tds-ot-footer a {
	color: #164c7e;
}
/*.header .titleThing {
	color: #000;
	background-color: #9ebec4;
	background-image: url(../images/breadcrumb.gif);
}*/
/* @end */

/* @group action buttons */
.actions .positive {
	border-color: #0d4373;
}
.actions .positive button {
	color: #0d4373;
}
.actions .positive button:hover, #sectionLogin .actions button:hover {
	background-color: #0d4373 !important;
}
/* @end */

/* @group Section Login */
#sectionLogin .ot-innerShadow,
#sectionLoginProctor .ot-innerShadow {
	background: #ddefff url(../images/shadowboxes/greenGradient.gif) repeat-x !important;
}
.practiceTest #sectionLogin .ot-shadowBox h1 {
	/*background-image: url(../images/bike/bikeTitle.gif);*/
	background: none;
}
.practiceTest #loginForm1, .practiceTest #loginForm2 {
	border-color: #0F6797;
}
.practiceTest .checkHolder {
	background-color: #0F6797;
}
#diagnostics .browserVersion {
	color: #A6C9E3;
}
#diagnostics a {
    color: #0F6797;
    display: none;
    float: left;
    text-decoration: none;
}
#diagnostics a:focus, #diagnostics a:active, #loginLinks a:focus, #loginLinks a:active {
    color: #FFF !important;
}
#loginLinks a {
	color: #0F6797 !important;
}
.goPractice {
	
}
.browserWrong {
	border: 1px solid #0F6797;
}
.browserDenied {
	border: 1px solid #0F6797;
}
/* @group blurbs */
.blurb {
	background-color: #ddefff;
}
.linkbox, .gridlink {
	border-color: #256498;
	background-color: #c9e1f7;
}
/* @end */

/* @end */

/* @group Section Verify Login */
.practiceTest #verifyGradeSelector {
   	background-color: #DCEBF5;
    border: 1px solid #0F6797;
}
/* @end */

/* @group Section Test Selection */
#sectionTestSelection .tries {
	text-align: center;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #76A9D6;
	border-left-color: #76A9D6;
}
.resumeTest, .newTest {
	background-color: #DCEBF5;
    background-image: url("../images/select.gif");
    border: 1px solid #164C7E;
}
#sectionTestSelection .resumeTest:hover, #sectionTestSelection .newTest:hover {
	background-color: #164C7E;
}
/* @end */



/* @group Section Approval */

#sectionTestApproval .ot-innerShadow {
	background: #fff0d8 url(../images/shadowboxes/greenGradient.gif) repeat-x !important;
}

/* @end */

/* @group Not currently used or unkown */
.proctorMessage {
	border:1px solid #bfd4d7;
}
#scoreMessage {
	background-color:#fff4e2;
	border-color:#013663;
}
.forgotLink a {
	color: #0d4373;
}
body.practiceTest .proctorMessage {
	border: 1px solid #ffd377;
}
.shortcutlink {
	color: #164c7e;
}
.simpleScore {
	color:#164c7e;
}
.scoreMessage {
	background-color: #fff0d8;
}
.soundcheck .choices {
	border-top: solid 1px #fff0d8;
}
/*.gridtraining {
	border-color: #ffa20c;
}
.gridtraining a {
	color: #ffd377;
}*/
/* @end */
























