@charset "UTF-8";
/* Sunny (Florida) Theme */

/* @group general */
.ot-innerShadow {
	border: solid 2px #0d4373;
}
.ot-shadowBox .instructions {
	border-color: #0F6797;
}
.ot-shadowBox h1, .ot-infoConfirm, #testSelections, #segments.accommodations, #ot-infoConfirm, #summary-segments,
 #quickGuide, #sectionSoundCheck .instructions, #sectionTTSCheck .instructions, #loginError .browserDenied,
 #sectionTestResults .instructions, #sectionTestResults .identity,#testApprovalProgress {
	border-color: #94B6D9;
}
/* @end */

/* @group header and footer */
#tds-ot-header {
	border-bottom: 1px solid #c1dddd;
	background: #fff;
}
#tds-ot-branding {
	background-color: transparent;
}
#ot-topBar {
	background-color: #135974;
    color: #fff;
	border-bottom: none;
	width: 100%;
	clear: both;
	height: 30px;
	padding-right: 0;
}
#ot-topBar .ot-smallButtons{
	padding-right: 5px;
}
#ot-studentInfo {
	background-color: transparent;
	border-right: none;
	float: right;
    margin-right: 1em;
}
.sessionID {
	border-right: none;
}
/*.ot-smallButtons a {
	background-color: #d9e1e3;
    border-color:#b6bfba;*/
    /* finger friendly*/
/*    padding: 5px 10px;
}
.ot-smallButtons a:hover {
	background-color: #fff;
	color: #000 !important;
}
#btnAccGlobal {
	background-position: center 4px;
}
#btnAccGlobal:hover, #btnAccGlobal:focus{
	background-position: center 4px;
	text-indent: -9999px;
	padding-top: 15px;
}*/
#tds-ot-branding{
	height: auto;
	display: block;
}
#ot-brand1 {
	border-bottom: none;
	background-image: none;
	background-color: transparent;
	height: auto;
	padding-bottom: 10px;
}
#ot-logo_spot1 {
	/*background: url(../images/logo_default.png) no-repeat left;*/
	height: 70px;
	width: 173px;
	margin-left: 25px;
	float: none;
}
#ot-logo_spot2 {
	display: none;
}

#ot-brand2 {
	background: #2883a7;
	border: none;
	display: block;
	position: relative;
	height: auto;
	min-height: 31px;
}
#ot-brand2 strong {
	color: #fff;
	margin-left: 0px;
	background: none 5px center no-repeat #2883a7;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 25px;
	margin-top: 0px;
	font-weight: normal;
	border: none;
}
.practiceTest #ot-brand2{
	float: none;
}
.practiceTest #ot-brand2 strong {
	float: none;
}
#tds-ot-footer span, #tds-ot-footer a {
	color: #164c7e;
}
.practiceTest #ot-brand2 strong{
	background-image: none;
	padding-left: 25px;
}

/*.header .titleThing {
	color: #000;
	background-color: #9ebec4;
	background-image: url(../images/breadcrumb.gif);
}*/
/* @end */

/* @group action buttons */
.actions .positive, .actions .positive button, .actions .positive input{
	border-color: #0d4373;
	color: #0d4373;
}
.actions .positive:hover, #sectionLogin .actions a:hover,.actions .positive button:hover, .actions .positive input:hover {
	background-color: #0d4373 !important;
}
/* @end */

/* @group Section Login */
#sections, .practiceTest #sections{
	background: url(../images/fade-bg.png) repeat-x transparent;
}

#sectionLogin .ot-innerShadow,
#sectionLoginProctor .ot-innerShadow {
	background-color: #fff !important;
	background-image: none !important;
	border-color: #004a80;
}
.practiceTest #sectionLogin .ot-shadowBox h1 {
	/*background-image: url(../images/bike/bikeTitle.gif);*/
}
.practiceTest #loginForm1, .practiceTest #loginForm2 {
	border-color: #0F6797;
}
.practiceTest .checkHolder {
	background-color: #0F6797;
}
#diagnostics .browserVersion {
	color: #606060;
}
#diagnostics a {
    color: #2a5378;
    display: none;
    float: left;
}
#diagnostics a:focus, #diagnostics a:active, #loginLinks a:focus, #loginLinks a:active {
}
#loginLinks a {
	color: #0F6797 !important;
}
.goPractice {
	
}
.browserWrong {
	border: 1px solid #0F6797;
}
.browserDenied {
	border: 1px solid #0F6797;
}
/* @group blurbs */
.blurb {
	background-color: #fff !important;
	background-image: none !important;
	border-color: #004a80;
}
.linkbox, .gridlink {
	border-color: #256498;
	background-color: #c9e1f7;
}
/* @end */

/* @end */

/* @group Section Verify Login */
.practiceTest #verifyGradeSelector {
   	background-color: #DCEBF5;
    border: 1px solid #0F6797;
}
/* @end */

/* @group Section Test Selection */
#sectionTestSelection .tries {
	text-align: center;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #76A9D6;
	border-left-color: #76A9D6;
}
.resumeTest, .newTest {
	background-color: #DCEBF5;
    background-image: url("../images/select.gif");
    border: 1px solid #164C7E;
}
#sectionTestSelection .resumeTest:hover, #sectionTestSelection .newTest:hover {
	background-color: #164C7E;
}
/* @end */



/* @group Section Approval */

#sectionTestApproval .ot-innerShadow {
	background-color: #fff !important;
	background-image: none !important;
}

/* @end */

/* @group Not currently used or unkown */
.proctorMessage {
	border:1px solid #bfd4d7;
}
#scoreMessage {
	background-color:#fff4e2;
	border-color:#013663;
}
.forgotLink a {
	color: #0d4373;
}
body.practiceTest .proctorMessage {
	border: 1px solid #ffd377;
}
.shortcutlink {
	color: #164c7e;
}
.simpleScore {
	color:#164c7e;
}
.scoreMessage {
	background-color: #fff0d8;
}
.soundcheck .choices {
	border-top: solid 1px #fff0d8;
}
/*.gridtraining {
	border-color: #ffa20c;
}
.gridtraining a {
	color: #ffd377;
}*/
/* @end */

/*#btnDiagTTS{
	display:none;
}*/
#sectionDiagnostics .jreVersion, #sectionDiagnostics .flashVersion{
	display: none;
}

/* SBAC & CA Update */
#loginWrap{
	width: 70em;
}
#sectionLogin .ot-shadowBox{
	float: left;
}
#ot-blurbs, .practiceTest #ot-blurbs, .forOperational #ot-blurbs{
	display: block;
}
.forOperational a.goPractice{
	float: left;
}
/* end */

/* Florida new Help Button */
#ot-topBar .ot-smallButtons{
}
#btnHelp{
	/*background: url("../../../shared/images/modern/sprites_mobile_0.png") no-repeat -35px -745px;
	min-width: 0;
	height: 30px;
	width: 30px;
	border: none;
	padding: 0;
	margin: 0;
	border-left: 1px solid white;
	border-right: 1px solid white;
}
#btnHelp:hover{
	background-color: #2883a7;
}
#btnHelp span{
	display: block;
	height: 0;
	width: 0;
	overflow: hidden;
}
#btnAccGlobal{
	text-indent: 0;
	background: url("../../../shared/images/modern/sprites_mobile_0.png") no-repeat -35px -3825px;
	width: 0px;
	height: 0px;
	padding: 0;
	border: none;
	overflow:hidden;
	padding: 30px 30px 0 0;
	margin: 0 0 0 0;
	border-left: 1px solid white;
}
#btnAccGlobal:hover{
	background-position: -35px -3825px;
	text-indent: 0;
	height: 0;
	width: 0;
	padding: 30px 30px 0 0;
	background-color: #2883a7;*/
}

fieldset.sessionID legend{
	min-width: 10em;
}