@charset "UTF-8";

/* SBAC's logos */
#ot-logo_spot1 {
    background-image:  url(../images/logo.png);
	width: 390px;
}
.languages {
	display: none;
}
.loginForm label {
   width: 33%;
   max-width: inherit;
   min-width: inherit;
}
.TDS_PS_L3 .loginForm label, .TDS_PS_L4 .loginForm label{
   width: 35%;
}

#sectionTestApproval h2 {
    font-size: 2.35em;
}

/* practice test icon */
.practiceTest #sectionLogin .ot-shadowBox h2 {
    background-image: url(../images/practice1.png) !important;
}
