@charset "UTF-8";

/* CSS Document */

/* Print Styles for Blackbox Printing. 
Imported from Proctor's "Passage Print" on 11/20/2015.  
Unique edits for SIRVE proceed from there*/

/*FORCED Media Query */

@media print {
html, body {
	overflow: auto !important;
	max-height: none !important;
	display: block !important;
	position: relative !important;
	width: auto !important;
	height: auto !important;
}
.webkit body {
	overflow-x: hidden !important; /*Changed to Hidden due to unexpected scrollbars in Webkit browsers*/
}
body {
	/*width: 8in !important;*/
	margin: 0 auto 0;
}
.layout11 .thePassage, .layout17 .thePassage, .layout21 .thePassage {
/*	width: 6.5in;*/
}
strong {
	font-weight: bold;
}
/* @group Keyboard */

.keyboard {
	text-align: left;
	margin-top: .8em;
	border: solid 1px #fff;
}
.keyboard ul {
	display: block;
	height: 2.3em;
	clear: both;
}
.TDS_PS_L1 .keyboard ul, .TDS_PS_L2 .keyboard ul, .TDS_PS_L3 .keyboard ul, .TDS_PS_L4 .keyboard ul {
	height: 2.2em;
}
.keyboard li {
	display: block;
	float: left;
	list-style-type: none;
	height: 29px;
	width: 29px;
	text-align: center;
	line-height: 29px;
	margin-right: 0.5em;/*margin-bottom: .5em;*/
}
.TDS_PS_L1 .keyboard li {
	height: 40px;
	width: 39px;
	line-height: 40px;
	margin-right: 0.3em;
	margin-bottom: .3em;
}
.TDS_PS_L2 .keyboard li, .TDS_PS_L3 .keyboard li, .TDS_PS_L4 .keyboard li {
	height: 50px;
	width: 48px;
	line-height: 50px;
	margin-right: 0.3em;
	margin-bottom: .3em;
}
.keyboard a {
	background-image: url(../images/controls/keys.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
	border: solid 1px #ccc;
}
.TDS_PS_L1 .keyboard a {
	background-position: -31px 0px;
}
.TDS_PS_L2 .keyboard a, .TDS_PS_L3 .keyboard a, .TDS_PS_L4 .keyboard a {
	background-position: -72px 0px;
}
.keyboard a:hover {
	background-position: 0px -40px;
}
.TDS_PS_L1 .keyboard a:hover {
	background-position: -31px -42px;
}
.TDS_PS_L2 .keyboard a:hover, .TDS_PS_L3 .keyboard a:hover, .TDS_PS_L4 .keyboard a:hover {
	background-position: -72px -52px;
}
.keyboard a:active {
	background-position: 0px -80px;
}
.TDS_PS_L1 .keyboard a:active {
	background-position: -31px -84px;
}
.TDS_PS_L2 .keyboard a:active, .TDS_PS_L3 .keyboard a:active, .TDS_PS_L4 .keyboard a:active {
	background-position: -72px -105px;
}
.key-space {
	width: 200px !important;
}
.key-space a {
	background-position: 0px -157px;
}
.TDS_PS_L1 .key-space {
	width: 250px !important;
}
.TDS_PS_L1 .key-space a {
	background-position: -203px -157px;
}
.TDS_PS_L2 .key-space a, .TDS_PS_L3 .key-space a, .TDS_PS_L4 .key-space a {
	width: 312px !important;
}
.TDS_PS_L2 .key-space a, .TDS_PS_L3 .key-space a, .TDS_PS_L4 .key-space a {
	background-position: -141px 0px;
}
.key-space a:hover {
	background-position: 0px -197px;
}
.TDS_PS_L1 .key-space a:hover {
	background-position: -203px -199px;
}
.TDS_PS_L2 .key-space a:hover, .TDS_PS_L3 .key-space a:hover, .TDS_PS_L4 .key-space a:hover {
	background-position: -141px -52px;
}
.key-space a:active {
	background-position: 0px -237px;
}
.TDS_PS_L1 .key-space a:active {
	background-position: -203px -242px;
}
.TDS_PS_L2 .key-space a:active, .TDS_PS_L3 .key-space a:active, .TDS_PS_L4 .key-space a:active {
	background-position: -141px -104px;
}
.key-delete {
	width: 100px !important;
}
.key-delete a {
	background-position: -353px -314px;
}
.TDS_PS_L1 .key-delete {
	width: 126px !important;
}
.TDS_PS_L1 .key-delete a {
	background-position: -200px -297px;
}
.TDS_PS_L2 .key-delete, .TDS_PS_L3 .key-delete, .TDS_PS_L4 .key-delete {
	width: 156px !important;
}
.TDS_PS_L2 .key-delete a, .TDS_PS_L3 .key-delete a, .TDS_PS_L4 .key-delete a {
	background-position: 0px -269px;
}
.key-delete a:hover {
	background-position: -353px -354px;
}
.TDS_PS_L1 .key-delete a:hover {
	background-position: -200px -339px;
}
.TDS_PS_L2 .key-delete a:hover, .TDS_PS_L3 .key-delete a:hover, .TDS_PS_L4 .key-delete a:hover {
	background-position: 0px -321px;
}
.key-delete a:active {
	background-position: -353px -394px;
}
.TDS_PS_L1 .key-delete a:active {
	background-position: -200px -382px;
}
.TDS_PS_L2 .key-delete a:active, .TDS_PS_L3 .key-delete a:active, .TDS_PS_L4 .key-delete a:active {
	background-position: 0px -373px;
}
.qwerty .key-a {
	margin-left: .5em;
}
.qwerty .key-z {
	margin-left: 1em;
}
.qwerty .key-m {
	margin-right: 100px;
}
.qwerty .key-space {
	margin-left: 1.5em;
}
.TDS_PS_L1 .qwerty .key-delete {
	margin-left: .3em;
}
.TDS_PS_L2 .qwerty .key-delete, .TDS_PS_L3 .qwerty .key-delete, .TDS_PS_L4 .qwerty .key-delete {
	margin-left: 4.5em;
}
.keyboard.qwerty {
	text-align: left;
	width: 380px;
	margin-top: .8em;
}
.TDS_PS_L1 .qwerty.keyboard {
	width: 460px;
}
.TDS_PS_L2 .qwerty.keyboard, .TDS_PS_L3 .qwerty.keyboard, .TDS_PS_L4 .qwerty.keyboard {
	width: 580px;
}
.keyboard.abcd {
	text-align: left;
	width: 340px;
	margin-top: .8em;
}
.TDS_PS_L1 .abcd.keyboard {
	width: 415px;
}
.TDS_PS_L2 .abcd.keyboard, .TDS_PS_L3 .abcd.keyboard, .TDS_PS_L4 .abcd.keyboard {
	width: 510px;
}
.abcd .key-delete {
	float: right;
}
/* @end */
/* @group item printing */

.questionCell {
	font-size: 1.4em;
	border-bottom: solid 1px #e1e1e1;
}
.questionCell p, .responseCell p {
	padding-bottom: .3em;
	padding-top: .3em;
}
.questionCell h2 {
	font-size: 1em;
	font-weight: bold;
	border-left: 1px dotted #cdcecf;
	padding-left: .3em;
}
.answerCell {
	font-size: 1.4em;
	padding-top: .5em;
	padding-bottom: .5em;
}
.responseCell {
	font-size: 1.4em;
	border-top: solid 1px #e1e1e1;
	padding: .5em 3em;
	margin-top: 1em;
}
.stimulusCell {
	text-align: center;
}
.theValue {
	font-size: 1em;
	line-height: 1em;
	width: 1em;
	height: 1em;
	border: solid 1px #ccc;
	padding: .2em;
}
.elicitedwrap, .sound_cue {
	visibility: hidden;
	height: 0px;
	width: 0px;
	overflow: hidden;
}
blockquote {
	margin: 1em;
}
em {
	font-style: italic;
}
/* @end */

/* @group Accommodations */
body {
	font-size: 78%;
	font-family: Arial, Helvetica, sans-serif;
}
.TDS_PS_L1 {
	font-size: 1.5em;
}
.TDS_PS_L2, .TDS_PS_L3, .TDS_PS_L4 {
	font-size: 2em;
}
.answerCell textarea, .inputCloze {
	font-size: 1em;
}
.answerCell textarea {
	width: 100%;
	height: 10em;
}
.TDS_F_S14 .thePassage {
	font-size: 1.3em !important;
}
.TDS_FT_Serif {
	font-family: Times New Roman, Times, serif;
}
.TDS_FT_San-Serif {
	font-family: Arial, Helvetica, sans-serif;
}
.TDS_FT_Verdana {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
/* @end */

.StudentGridStatus {
	visibility: hidden;
	height: 0px;
	width: 0px;
	overflow: hidden;
}
.orientation {
	display: none;
}
/* new test shell style rules */
#testShell {
	position: relative;
	overflow: auto;
	display: block !important;
}
#testShell #topBar {
	display: none; /* Do not show the top bar navigation while printing */
}
/*removing absolute positioning during print so things spread across pages correctly*/
#testShell #contents {
	position: relative;
	top: 0;
}
#testShell .noColumns .theQuestions {
	overflow: auto;
	position: relative;
}
#testShell .SimContainer.simV2 {
}
#testShell .optionSelected .optionClicker:before {
	color: #000;
	content: "\2022";
	font-size: 4em;
	margin-left: -1px;
	margin-top: -1px;
}
.TDS_PS_L1 #testShell .optionSelected .optionClicker::before{
	font-size: 3em;
    margin-left: -3px;
}
.TDS_PS_L3 #testShell .optionSelected .optionClicker::before {
	font-size: 6em;
	margin-left: -4px;
	margin-top: 1px;
}
.TDS_PS_L4 #testShell .optionSelected .optionClicker::before {
	font-size: 7em;
	margin-left: -5px;
	margin-top: 1px;
}
#testShell .format_ms .optionClicker, #testShell .EBSR_ms .optionClicker {
	background-image: none !important;
	border-radius: 0px !important;
	border: 1px dashed #666;
}
#testShell .format_ms .optionClicker:before, #testShell .EBSR_ms .optionClicker:before {
	content: " ";
}
#testShell .format_ms .optionSelected .optionClicker, #testShell .EBSR_ms.optionSelected .optionClicker {
	border: solid 1px #666;
}
#testShell .format_ms .optionSelected .optionClicker:before, #testShell .EBSR_ms.optionSelected .optionClicker:before {
	content: "✓";
	font-size: 1em;
	line-height: 1em;
	text-align: center;
}
.TDS_PS_L1 #testShell .format_ms .optionSelected .optionClicker:before, .TDS_PS_L1 #testShell .EBSR_ms.optionSelected .optionClicker:before {
	font-size: 1em;
  line-height: 0.9em;
  min-width: 1em;
}
.TDS_PS_L2 #testShell .format_ms .optionSelected .optionClicker:before, .TDS_PS_L2 #testShell .EBSR_ms.optionSelected .optionClicker:before {
	font-size: 1.3em;
}
.TDS_PS_L3 #testShell .format_ms .optionSelected .optionClicker:before, .TDS_PS_L3 #testShell .EBSR_ms.optionSelected .optionClicker:before {
	font-size: 1.7em;
}
.TDS_PS_L4 #testShell .format_ms .optionSelected .optionClicker:before, .TDS_PS_L4 #testShell .EBSR_ms.optionSelected .optionClicker:before {
	font-size: 2em;
}
/* Bug 154116 */
.ie #testShell .format_ms .optionSelected .optionClicker:before, .ie #testShell .EBSR_ms.optionSelected .optionClicker:before {
	line-height: 0;
	vertical-align: top;
	margin-left: -0.2em;
}
/* end */
.TDS_PS_L1 #testShell .format_ms .optionSelected .optionClicker, .TDS_PS_L1 #testShell .EBSR_ms.optionSelected .optionClicker {
	height: 30px;
	width: 30px;
}
.TDS_PS_L2 #testShell .format_ms .optionSelected .optionClicker, .TDS_PS_L2 #testShell .EBSR_ms.optionSelected .optionClicker {
	height: 40px;
	width: 40px;
}
.TDS_PS_L3 #testShell .format_ms .optionSelected .optionClicker, .TDS_PS_L3 #testShell .EBSR_ms.optionSelected .optionClicker {
	height: 55px;
	width: 55px;
}
.TDS_PS_L4 #testShell .format_ms .optionSelected .optionClicker, .TDS_PS_L4 #testShell .EBSR_ms.optionSelected .optionClicker {
	height: 68px;
	width: 68px;
}
#testShell .thePassage .padding p img {
	max-height: 9in;
	width: auto !important;
}
#testShell div.bigTable {
	position: relative !important;
	display: block;
}
#testShell .bigTable.layout11 .padding {
	padding: 0;
}
#testShell .selectable.selected {
	border-top: 2px solid #cce3a9;
	border-bottom: 2px solid #cce3a9;
	color: #066;
}
#testShell object {
	display: block !important;
	position: relative;
}
#testShell .matchConnections a.line {
	border-top: 3px solid #0783AB;
}
#testShell table.bigTable {
	font-size: 1.0em !important;
}
#tools {
	display: none;  /*Removes unwanted extra page at the end*/
}
li.matchMade div.innerContainer, .matchSecondColumn .matchMode .innerContainer {  /*improve printing of match item*/
	border: 1px solid #0785AB;
}
.matchSecondColumn .matchMade .innerContainer {
	border-right-color: #0785Ab !important; /* override mi.css for bug 75488 */
}
.matchColumn ul li {
	page-break-before: avoid;
	page-break-inside: avoid;
}
.edit-newtext, .edit-originaltext {
	color: #ACD373;
}
span span.edit-crossout {
	opacity: 1;
	color: #CC3333;
	text-decoration: line-through;
}
.ie span span.edit-crossout, span.TDS_EDIT_SPAN span.edit-crossout {
	text-decoration: line-through !important;
}
/*Attempted bug 89551 fixes*/
html, body, #testShell #contents, #testShell .theQuestions, #testShell .bigTable.noColumns {
	width: auto;
}
img, .TDS_PS_L0 img, .TDS_PS_L1 img, .TDS_PS_L2 img, .TDS_PS_L3 img, .TDS_PS_L4 img {
	max-width: 550px;
	height: auto;
}
/*.GridContainer, .TDS_PS_L1 .GridContainer, .TDS_PS_L2 .GridContainer, .TDS_PS_L3 .GridContainer, .TDS_PS_L4 .GridContainer{
	max-width: 600px !important;
	max-height: 500px !important;
}*/

/* Fix for scroll bars on passages we don't need */
#contents div.pageWrapper {
	position: relative;
	overflow: hidden;
}
/*fix for 75454 */
.mje_controls_content {
	background-color: #fff;
}
.webkit .mje_nav_prev, .webkit .mje_nav_next, .webkit .mje_nav_undo, .webkit .mje_nav_del, .webkit .mje_nav_redo, .webkit .mje_button .ie .mje_nav_prev, .ie .mje_nav_next, .ie .mje_nav_undo, .ie .mje_nav_del, .ie .mje_nav_redo, .ie .mje_button {
	text-indent: 0px;
	background: none;
	color: #000 !important;
	width: auto;
	border: 1px solid #000;
	border-color: #000 !important;
}
/*Passage Screen nullification*/


/*Fix for 89545 - switch to Layout 6 for printing */
.layout6horizontal.structure, .layout6vertical.structure, layout6.structure {
	max-width: 8.5in;
}
/*Fix for 89551 - images and assets printing off edge of page */
.TDS_PS_L1 .GridContainer, .TDS_PS_L2 .GridContainer, .TDS_PS_L3 .GridContainer, .TDS_PS_L4 .GridContainer, .TDS_PS_L1 .GridContainer object, .TDS_PS_L2 .GridContainer object, .TDS_PS_L3 .GridContainer object, .TDS_PS_L4 .GridContainer object {
	width: 600px !important;
	height: 500px !important;
}
.TDS_PS_L1 img, .TDS_PS_L2 img, .TDS_PS_L3 img, .TDS_PS_L4 img {
	max-width: 600px !important;
	max-height: 500px !important;
}
#landscapePlease {
	display: none;
}
/* Fix for Bug 106018 */
#testshell .cke_editable, .cke_editable {
	width: 100%;
	max-width: 800px;
	/*Additional fix - remove scrolling, grow to height*/
	height: auto;
	overflow: auto;
}
#testshell #cke_1_top, #cke_1_top {
	display: none;
}
/*IE 10 fix?*/
.browser_ie.browserVer_10 .cke_editable {
	height: auto !important;
}
/*Weird Firefox not printing issue*/
.ff .mje_container span.MathJax:before {
	display: inline-block !important;
}
/*Hide Scratchpad UI*/
.sp_container .sp_toolbar {
	display: none;
}
.sp_canvas_container {
	margin-left: 0px;
}
/* end */

/* Compound Item Printing */
#testShell .layout_compound_1 {
	position: relative;
	display: block;
}
.bigTable.compound {
	border: none;
}
/* end */

/* The long lost bug 89642 */
.ff3 body, html.ff3 {
	overflow: visible !important;
}
/* end */

/* bug 138758 & 133728 */
.simV2.SimContainer, .GridContainer, .EquationEditor {
	page-break-inside: avoid;
}
/* end */

/* bug 133716 */
.optionClicker {
	text-indent: inherit !important;
	overflow: visible !important;
}
/* end */

/* bug 133728 */
.TDS_PS_L3 .EquationEditor.widget, .TDS_PS_L3 .mje_controls, .TDS_PS_L3 .keypad-body, .TDS_PS_L4 .EquationEditor.widget, .TDS_PS_L4 .mje_controls, .TDS_PS_L4 .keypad-body {
	max-width: 7.9in;
	min-width: inherit !important;
}
/* end */

/* bug 141941 */
.layout21 .theQuestions, .layout21 .thePassage {
	position: relative !important;
	width: auto !important;
	left: 0 !important;
}
/* end */

/* bug 155308 */
.matchItemDemoAccesible-Ideal input {
	opacity: 1;
}
/* end */

/* bug 157441 */ 
.noColumns .widget-body .input {
	max-width: 7in;
}
.mathquill-rendered-math .mq-empty {
	min-height: 1em;
}
/* end */

/* Full Passage Printing */
.cke_contents.cke_reset {
	height: auto;
}
/* end */

/* Bugs 154121 & 154165 - fake a sound icon on sound UIs that are hidden by print*/
.sound_repeat, .tds-audio {
	height: 80px;
	width: 80px;
	overflow: hidden;
	visibility: visible;
	background: none;
}
.sound_repeat:after, .tds-audio:after {
	content: url('../images/newSpeaker.png');
}
.asi-playback-button {
	height: 100px;
	width: 100px;
	overflow: hidden;
	visibility: hidden;
	background: none;
}
.asi-playback-button:after {
	content: url("../../blackbox/Scripts/Scaffolding/ear-sm-clear.png");
}
/* end */

/*BUG 134310 Remove Radio Button background images on Simulator items*/
.simulator li input[type="checkbox"], .simulator li input[type="radio"] {
	position: relative;
	left: 0;
}
.simulator .singleSelect input + label, .simulator .multiSelect input + label {
	background: none;
	display: inline;
}
.simulator .listLabel {
	display: inline;
	float: none;
}
.simulator ul.singleSelect, .simulator ul.multiSelect {
	text-align: left;
	margin: 0 5px;
}
.TDS_PS_L0 .simulator .listLabel, .TDS_PS_L1 .simulator .listLabel, .TDS_PS_L2 .simulator .listLabel, .TDS_PS_L3 .simulator .listLabel, .TDS_PS_L4 .simulator .listLabel {
	margin-left: 0.5em;
}
/* end */

/* BUG 134310 Simulation Item Tear Apart and Rebuild for printing */
#testShell .SimContainer.simV2 {
	display: block;
	position: relative;
	height: auto;
}
.simulator {
	position: relative;
}
.simulator .panelSingle {
	display: block;
	position: relative;
	border-bottom: 1px solid #ccc;
	width: 100%!important;
	left: 0 !important;
}
/* end */

/* BUG 154109 */
.keypad.mje_controls {
	display: none;
}
/* end */


/*BUG 154113 - Forced min-widths from items.css is messing up printing */
.TDS_PS_L0 .stemContainer table.newtable, .TDS_PS_L1 .stemContainer table.newtable, .TDS_PS_L2 .stemContainer table.newtable, .TDS_PS_L3 .stemContainer table.newtable, .TDS_PS_L4 .stemContainer table.newtable {
	width: auto !important;
}
/*BUG 165911 - Looks like there is a format this CSS was not built to accomodate */
.layout11 .thePassage, .layout11 .theQuestions {
	position: relative;
	display: block;
	width: 49%;
	float: left;
	left: 0;
}
/* @end */
.layout_wai,
.TDS_PS_L1 .layout_wai,
.TDS_PS_L2 .layout_wai,
.TDS_PS_L3 .layout_wai,
.TDS_PS_L4 .layout_wai{
	top: 0;
  position: relative !important;
  overflow: auto !important;
  width: auto;
  height: auto;
}

/*new IRiS styles*/
#topBar{
	display: none;
}
.TDS_PS_L0 #contents, .TDS_PS_L1 #contents, .TDS_PS_L2 #contents, .TDS_PS_L3 #contents, .TDS_PS_L4 #contents{
	top: 0;
  position: relative;
  overflow: auto;
}
.page-tabs{
	display: none;
}

}
