@charset "UTF-8";
@import url(../../../Themes/pillars/css/testShell.css);

/* show iframe shim for dialogs */
body.dialogAlertShow #dialogShim, body.dialogPromptShow #dialogShim, body.contentLoading #dialogShim {
	width: 100%;
	height: 100%;
	display: block;
}