@charset "UTF-8";
/* Lake Theme */

.topBar {
	background-image: url(../Images/lake_Small.jpg);
	padding-right: 200px;
	background-color: #004a80;
}
.sessionID {
	border:none;
}
.smallButtons a:hover {
	background-color: #ffa20c;
}
.studentInfo {
	background-color: #004a80;
	color: #fff;
	border: none;
}
.bottomBar {
	background-color: #f0f0f0;
	border-top-color: #004a80;
	border-bottom-color: #716f61;
}
.testName {
	background-color: #cdcdcd;
	border:none;
}
.yourChoices .greenBtn {
	border-color: #164c7e;
	color:#164c7e;
}
.yourChoices .greenBtn:hover {
	background-color:#164c7e;
}
.sound_cue, .sound_cue.load_incomplete, .sound_cue.disabled  {
	background: url(../Images/controls/speaker_noclick.gif) no-repeat center center;
}

/* preloads Images so they don't appear 'missing' */
.preloader {
	background-color: #A7C9E2;
}