@charset "UTF-8";

@import url(../../../Themes/sunny/css/masterShell.css);



/* Florida's logos */

#ot-logo_spot1 {
    background-image:  url(../Images/logo-florida.png);
}
.browser_ie.browserVer_6 #ot-logo_spot1{
	background: url(../Images/logo-florida.gif) no-repeat transparent;
}
.languages {
	display: none;
}
.loginForm label {
   width: 33%;
   max-width: inherit;
   min-width: inherit;
}
.TDS_PS_L3 .loginForm label, .TDS_PS_L4 .loginForm label{
   width: 35%;
}
#quickQuide {
	border: solid 1px #ccc;
}
#sectionTestApproval h2 {
    font-size: 2.35em;
}

.practiceTest #loginWrap {
	width: 45em;
}


/* @group Force ananyomous login for now */

.practiceTest .loginForm {
	opacity: .3;
	pointer-events:none;
	-moz-user-select: none;
	-webkit-user-select:none;
	-ms-user-select: none;
	user-select: none;
}
.practiceTest .checkHolder input {
	display: none !important;
}
.practiceTest .checkHolder label {
	padding-left: .5em;
}
.practiceTest .checkHolder {
    background-color: #ccc;
}
.practiceTest #loginForm1, 
.practiceTest #loginForm2 {
    border-color: #ccc;
}

/* @end */