/* hacks for demo 

#topBar {
	height: 99px;
	background: #1e4c66 url(../Images/gradient_deepBlue.png) repeat-x left bottom;
	font-family: "Lucida Grande", "Lucida Sans", Arial, Helvetica, sans-serif;
}
#contents {
	top: 100px;
}
#infoBar, .studentInfo, .sessionID, .testName {
	border-color: #3f648a;
	color: #95b3d3;
}
.notificationsContainer, .smallButtons, .studentInfo, #btnSave, #btnPause, #btnResults, #btnEnd, #btnItemScore, #studentTools button { 
	display: none !important;
}
#btnAccessibility .icon {
	background-position: center -818px;
}
#navigation {
	zoom:1;
	font-size:10px;
	background: url(../Images/air_Small.png) no-repeat center 15px;
}
#toQuestions {
	font-size:1.5em;
}
#navigation .icon {
	padding-top: 63px;
	height: 10px;
}
*/