.slides_parsed .hidden, .slides_config .hidden, .slideshowContainer .hidden {
	display:none;
}
/*.slides_container {
  width: 305px;
  height: 305px
  padding-bottom: 10px;
}*/

.slide {
  	width: 300px;
  	height: 300px;
 	border: 1px solid #fff;
  	-webkit-box-shadow: 0em 0em .2em #666;
	-moz-box-shadow: 0em 0em .2em #666;
	box-shadow: 0em 0em .2em #666;
	overflow: hidden;
}
.slide img {
	width: 100%;
}
.slide_controls_contain {
	margin-top: .3em;
	display: block;
	height: 31px;
	width: 302px;
}
.slide_controls_slider {
  	float: left;
  	margin-left: 5px;
  	background-image: none !important;
}
.slide_controls_img {
  	width:23px; 
 	height:23px; 
  	background: url(images/slider_thumb.png) no-repeat center center !important;
  	display: block;
}

.slide_controls_slider_bg {
    background: url(images/slider_back.gif) repeat-x center center;
    position: relative;
  	height: 23px;
  	width: 195px;
  	float: left;
  	margin-top: 5px;
}

.slide_controls_btn {
  	height: 28px;
  	width: 28px;
  	padding: 0px !important;
  	float: left;
  	font-weight:bold;
  	font-size: 0.9em;
  	color: #333333;
  	cursor: pointer;
  	-webkit-border-radius: 99px;
	-moz-border-radius: 99px;
	border-radius: 99px;
	border:1px solid #fff;
	font-weight: bold;
	margin-left: 1px;
	-webkit-box-shadow: 0em 0em .2em #666;
	-moz-box-shadow: 0em 0em .2em #666;
	box-shadow: 0em 0em .2em #666;
	margin-right: .2em;
	-webkit-transition: background-color .3s ease-in;
	-moz-transition: background-color .3s ease-in;
	transition: background-color .3s ease-in;
	text-indent: -9999px;
	overflow: hidden;
	background: #f6f5f7 url(images/controls.png) no-repeat center 4px;
}
.slide_controls_btn:hover, .slide_controls_btn:active {
	background-color: #00AEEF;
	background-position:center -995px;
}
.slide_controls_next_btn {
	background-position: center -76px;
}
.slide_controls_next_btn:hover, .slide_controls_next_btn:active {
	background-position: center -1075px;
}
.slide_controls_play_btn {
	background-position: center -156px;
}
.slide_controls_play_btn:hover, .slide_controls_play_btn:active {
	background-position: center -1155px;
}
.slide_controls_stop_btn {
	background-position: center -236px;
}
.slide_controls_stop_btn:hover, .slide_controls_stop_btn:active {
	background-position: center -1235px;
}
/* */
.TDS_PS_L1 .slide {
	width: 375px;
	height: 375px;
}
.TDS_PS_L1 .slide_controls_contain {
	height: 41px;
	width: 377px;
}
.TDS_PS_L1 .slide_controls_contain .yui-h-slider {
	margin: 5px 0 0 9px;
}
.TDS_PS_L1 .slide_controls_btn {
	width: 36px;
	height: 36px;
	margin-top: 2px;
	background-position:center 8px;
}
.TDS_PS_L1 .slide_controls_btn:hover, .TDS_PS_L1 .slide_controls_btn:active {
	background-position:center -992px;
}
.TDS_PS_L1 .slide_controls_next_btn {
	background-position: center -72px;
}
.TDS_PS_L1 .slide_controls_next_btn:hover, .TDS_PS_L1 .slide_controls_next_btn:active {
	background-position: center -1072px;
}
.TDS_PS_L1 .slide_controls_play_btn {
	background-position: center -152px;
}
.TDS_PS_L1 .slide_controls_play_btn:hover, .TDS_PS_L1 .slide_controls_play_btn:active {
	background-position: center -1152px;
}
.TDS_PS_L1 .slide_controls_stop_btn {
	background-position: center -232px;
}
.TDS_PS_L1 .slide_controls_stop_btn:hover, .TDS_PS_L1 .slide_controls_stop_btn:active {
	background-position: center -1232px;
}



/* */
.TDS_PS_L2 .slide {
	width: 450px;
	height: 450px;
}
.TDS_PS_L2 .slide_controls_contain {
	height: 51px;
	width: 452px;
}
.TDS_PS_L2 .slide_controls_contain .yui-h-slider {
	margin: 11px 0 0 11px;
}
.TDS_PS_L2 .slide_controls_btn {
	width: 45px;
	height: 45px;
	margin-top: 3px;
	background-position:center -313px;
}
.TDS_PS_L2 .slide_controls_btn:hover, .TDS_PS_L2 .slide_controls_btn:active {
	background-position:center -1313px;
}
.TDS_PS_L2 .slide_controls_next_btn {
	background-position: center -393px;
}
.TDS_PS_L2 .slide_controls_next_btn:hover, .TDS_PS_L2 .slide_controls_next_btn:active {
	background-position: center -1393px;
}
.TDS_PS_L2 .slide_controls_play_btn {
	background-position: center -473px;
}
.TDS_PS_L2 .slide_controls_play_btn:hover, .TDS_PS_L2 .slide_controls_play_btn:active {
	background-position: center -1473px;
}
.TDS_PS_L2 .slide_controls_stop_btn {
	background-position: center -551px;
}
.TDS_PS_L2 .slide_controls_stop_btn:hover, .TDS_PS_L2 .slide_controls_stop_btn:active {
	background-position: center -1551px;
}

/* */
.TDS_PS_L3 .slide {
	width: 525px;
	height: 525px;
}
.TDS_PS_L3 .slide_controls_contain {
	height: 61px;
	width: 527px;
}
.TDS_PS_L3 .slide_controls_contain .yui-h-slider {
	margin: 15px 0 0 15px;
}
.TDS_PS_L3 .slide_controls_btn {
	width: 54px;
	height: 54px;
	margin-top: 3px;
	background-position:center -636px;
}
.TDS_PS_L3 .slide_controls_btn:hover, .TDS_PS_L3 .slide_controls_btn:active {
	background-position:center -1636px;
}
.TDS_PS_L3 .slide_controls_next_btn {
	background-position: center -716px;
}
.TDS_PS_L3 .slide_controls_next_btn:hover, .TDS_PS_L3 .slide_controls_next_btn:active {
	background-position: center -1716px;
}
.TDS_PS_L3 .slide_controls_play_btn {
	background-position: center -796px;
}
.TDS_PS_L3 .slide_controls_play_btn:hover, .TDS_PS_L3 .slide_controls_play_btn:active {
	background-position: center -1796px;
}
.TDS_PS_L3 .slide_controls_stop_btn {
	background-position: center -875px;
}
.TDS_PS_L3 .slide_controls_stop_btn:hover, .TDS_PS_L3 .slide_controls_stop_btn:active {
	background-position: center -1875px;
}


/* */
.TDS_PS_L4 .slide {
	width: 600px;
	height: 600px;
}
.TDS_PS_L4 .slide_controls_contain {
	height: 71px;
	width: 602px;
}
.TDS_PS_L4 .slide_controls_contain .yui-h-slider {
	margin: 19px 0 0 19px;
}
.TDS_PS_L4 .slide_controls_btn {
	width: 63px;
	height: 63px;
	margin-top: 4px;
	background-position:center -631px;
}
.TDS_PS_L4 .slide_controls_btn:hover, .TDS_PS_L4 .slide_controls_btn:active {
	background-position:center -1631px;
}
.TDS_PS_L4 .slide_controls_next_btn {
	background-position: center -711px;
}
.TDS_PS_L4 .slide_controls_next_btn:hover, .TDS_PS_L4 .slide_controls_next_btn:active {
	background-position: center -1711px;
}
.TDS_PS_L4 .slide_controls_play_btn {
	background-position: center -791px;
}
.TDS_PS_L4 .slide_controls_play_btn:hover, .TDS_PS_L4 .slide_controls_play_btn:active {
	background-position: center -1791px;
}
.TDS_PS_L4 .slide_controls_stop_btn {
	background-position: center -870px;
}
.TDS_PS_L4 .slide_controls_stop_btn:hover, .TDS_PS_L4 .slide_controls_stop_btn:active {
	background-position: center -1870px;
}
